@model Sampoerna.EMS.Website.Models.PRODUCTION.ProductionUploadViewModel

<div id="table-upload-preview">

    <table class="table table-bordered table-striped js-options-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Company Code</th>
                <th>Plant Name</th>
                <th>Finish Goods</th>
                <th>Brand Description</th>
                <th>Produced QTY - Packed</th>
                <th>Produced QTY - Unpacked</th>
                <th>UOM</th>
                <th>Production Date</th>
            </tr>
        </thead>
        <tbody id="tb-upload-excel"></tbody>
    </table>
</div>
<div aria-multiselectable="true" role="tablist" id="accordionThree" class="panel-group">
    <div class="panel panel-default">
        <div id="headingThree" role="tab" class="panel-heading">
            <h4 class="panel-title">
                <a aria-controls="collapse6" aria-expanded="true" href="#collapseThree" data-parent="#accordionThree" data-toggle="collapse">
                    Upload Table
                    <i class="fa fa-caret-down"></i>
                </a>
            </h4>
        </div>
        <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse in" id="collapseThree" style="">
            <div class="panel-body">
                <a href="javascript:void(0)" class="btn btn-blue" onclick="toUploadTab()">Upload</a>
                <div class="table-container" id="table-upload">
                    <table class="table table-bordered table-striped js-options-table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Company Code</th>
                                <th>Plant </th>
                                <th>Finish Goods</th>
                                <th>Brand Description</th>
                                <th>Produced QTY - Packed</th>
                                <th>Produced QTY - Unpacked</th>
                                <th>UOM</th>
                                <th>Production Date</th>

                            </tr>
                        </thead>
                        <tbody id="body-tb-upload">
                            <tr>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>

                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>

                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
