@model Sampoerna.EMS.Website.Models.PRODUCTION.ProductionDetail

<div id="table-upload-preview">

    <table class="table table-bordered table-striped js-options-table">
        <thead>
            <tr>
                <th>No</th>
                <th>FA Code</th>
                <th>Product Type Alias</th>
                <th>Brand</th>
                <th>Content</th>
                <th>PBCK-7 QTY</th>
                <th>BACK-1 QTY</th>
                <th>Series Value</th>
                <th>HJE</th>
                <th>Tariff</th>
                <th>Fiscal Year</th>
                <th>Excise Value</th>
            </tr>
        </thead>
        <tbody id="tb-upload-excel"></tbody>
    </table>
</div>
