@model Sampoerna.EMS.Website.Models.PRODUCTION.ProductionUploadViewModel

<div id="table-upload-preview">

    <table class="table table-bordered table-striped js-options-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Company Code</th>
                <th>Plant Name</th>
                <th>Finish Goods</th>
                <th>Brand Description</th>
                <th>Produced QTY - Packed</th>
                <th>Produced QTY - Unpacked</th>
                <th>UOM</th>
                <th>Production Date</th>
            </tr>
        </thead>
        <tbody id="tb-upload-excel"></tbody>

    </table>
</div>

