<div style='font-family: Calibri, sans-serif;'>
<p align='right'>#COMPANY_CITY, #REQUEST_DATE</p>
<table style='width:80%; background: none;'>
	<tr>
		<td style='width:15%;'>Nomor</td>
		<td>:</td>
		<td>#FORM_NUMBER</td>
	</tr>
	<tr>
		<td>Lampiran</td>
		<td>:</td>
		<td>#LAMPIRAN_COUNT</td>
	</tr>
	<tr>
		<td>Perihal</td>
		<td>:</td>
		<td>Permohonan Perubahan #DOCUMENT_TYPE<br />Pabrik Hasil Tembakau #COMPANY</td>
	</tr>
</table>
<br/>
<p>Kepada Yth. <br />#TEXT_TO</p>
<p>Dengan hormat,</p>
<p>Yang bertanda tangan di bawah ini:</p>
<table style='width:80%; background: none;'>
	<tr>
		<td style='width:20%;'>Nama</td>
		<td style='width:5%;'>:</td>
		<td style='width:75%;'>#POA_NAME</td>
	</tr>
	<tr>
		<td>Jabatan</td>
		<td>:</td>
		<td>#POA_POSITION</td>
	</tr>
	<tr>
		<td>Alamat</td>
		<td>:</td>
		<td>#POA_ADDRESS</td>
	</tr>
</table>
<br/>
<p>Bertindak atas nama:</p>
<table style='width:80%; background: none;'>
    <tr>
        <td style='width:20%;'>Nama Perusahaan</td>
        <td style='width:5%;'>:</td>
        <td style='width:75%;'>#COMPANY</td>
    </tr>
    <tr>
        <td>NPPBKC</td>
        <td>:</td>
        <td>#NPPBKC</td>
    </tr>
</table>
<br />
<p>Memberitahukan kepada saudara, bahwa pabrik Hasil Tembakau #COMPANY di Kabupaten/Kota #COMPANY_CITY telah melakukan perubahan #DOCUMENT_TYPE dengan tidak merubah luas tanah bangunan / data perizinan / kuasa perusahaan pabrik hasil tembakau</p>
<br />
<p>Adapun perubahan sebagai berikut :</p>
#ITEM_UPDATES

<br/>
<p>Demikian permohonan ini kami sampaikan untuk mendapatkan persetujuan dan pegesahan sebagaimana mestinya.</p>
<br/>
<p align='right'>Pemohon,&nbsp;&nbsp;&nbsp;</p>
<br/><br/><br/>
<p align='right'>#POA_NAME</p>
</div>