@model Sampoerna.EMS.Website.Models.CK4C.Ck4CIndexDocumentListViewModel
@{
    ViewBag.Title = "Ck4CCreateDailyProduction";
}

@using (Html.BeginForm("Ck4CCreateDailyProduction", "CK4C"))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Dialy Production Form</h3>
                <label class="status">Draft</label>
                <div class="action-button">
                    <button class="btn btn-blue">Save</button>
                    <button class="btn btn-grey">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Information</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeCreate")
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section scripts
{
    <script type="text/javascript" language="javascript" class="init">
        $('#MenuCk4cDailyProduction').addClass('active');


        $("#CompanyCode").change(function () {
            if ($("#CompanyCode").length) {
                var cpy = $(this).find("option:selected").val();
                $('#SearchInput_PlantId option').remove();
                if (cpy == '' || $(this).find("option:selected").val() == '') {
                    $('#SearchInput_PlantId option').append('<option value="">All</option>');

                } else {
                    ajaxSelectCompany('@Url.Action("CompanyListPartialCk4C", "CK4C")', { companyId: cpy });
                }
            }
        });

        function ajaxSelectCompany(url, formData) {
            if (formData.companyId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        var listPlant = data.PlanIdList;
                        $('#SearchInput_PlantId').append('<option value="">All</option>');
                        if (listPlant.length > 0) {
                            for (var i = 0; i < listPlant.length; i++) {
                                $('#SearchInput_PlantId').append('<option value=' + listPlant[i].Value + '>' + listPlant[i].Text + '</option>');
                            }
                        }

                    }
                });
            }
        }

        $("#FinishGoods").change(function () {
            if ($("#FinishGoods").length) {
                var FaDesc = $(this).find("option:selected").val();
                if (FaDesc == '') {
                    $('#Description').val('');
                } else {
                    ajaxFaCodeDescription('@Url.Action("GetFaCodeDescription", "CK4C")', { faCode: FaDesc });
                }
            }

        });

        function ajaxFaCodeDescription(url, formData) {
            if (formData.faCode) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        $('#Description').val(data);
                    }
                });
            }



        }

    </script>
}