@model Sampoerna.EMS.Website.Models.BrandRegistrationTransaction.MapSKEP.ReceivedDecreeViewModel
<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="desc">Penetapan SKEP</h3>

            @if (!Model.EnableFormInput)
            {
                <label class="status">@Model.ViewModel.ApprovalStatusDescription.Value</label>
            }

            <div class="action-button">
                @if (Model.IsAdminApprover && ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() == "Approve")
                {
                    <button type="button" class="btn btn-danger" id="ReviseButton" data-toggle="modal" data-target=".revise-modal.penskep">Revise</button>
                    <button type="button" class="btn btn-success" id="ApproveButton" data-toggle="modal" data-target=".approve-modal.penskep">Approve</button>
                }
                @if (Model.ShowActionOptions && Model.EnableFormInput)
                {
                    if (Model.EditMode)
                    {
                        if (!Model.ViewModel.IsSubmitted)
                        {
                            <input type="submit" class="btn btn-blue" value="Save" id="SaveButton">
                            <button type="button" class="btn btn-success" id="SubmitButton">Submit</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-grey" disabled>Submitted</button>
                        }
                    }
                    if (ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() == "CreatePenetapanSKEP")
                    {
                        <input type="submit" class="btn btn-blue" value="Save" id="SaveButton">
                    }

                    if (ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() != "ApprovePenetapanSKEP")
                    {
                        <a href="@Url.Action("IndexPenetapanSKEP", "BrandRegistrationTransaction")" class="btn btn-grey">Cancel</a>
                    }
                }
                else
                {
                    <a href="@Url.Action("IndexPenetapanSKEP", "BrandRegistrationTransaction")" class="btn btn-grey">Back</a>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.LabelFor(model => model.ViewModel.Received_No, new { @id = "SKEPNumber", @class="status" })
            @*<label id="PdNumber"></label>*@
        </div>
    </div>
</div>

