
<div class="row">
    <div id="contenttable" class="table-container">
        <table id="brandTable" class="table table-bordered table-striped js-options-table">
            <thead>
                <tr>
                    <th class="toggle-row"></th>
                    <th nowrap>Request Number</th>
                    <th nowrap>FA Code (OLD)</th>
                    <th nowrap>FA Code (OLD) Description</th>
                    <th nowrap>FA Code (NEW)</th>
                    <th nowrap>FA Code (NEW) Description</th>
                    <th>Company</th>
                    <th nowrap>HL Code</th>
                    <th>Market</th>
                    <th>Production Center</th>
                </tr>

            <tbody></tbody>
        </table>
    </div>
</div>
