<!DOCTYPE html>
<html>
    <head>
        <title>EMS - Excise Management System</title>
        <link rel="shortcut icon" href="../conentent/assets/images/favicon.png" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <!-- Load the site CSS after Boostrap's to override -->
        <link rel="stylesheet" type="text/css" href="css/main.min.css" media="screen">
        <!-- Load Font Awesome CSS -->
        <link rel="stylesheet" href="css/vendors/font-awesome.min.css" media="screen">
        <link rel="stylesheet" href="css/vendors/yamm.css" media="screen">
        <!-- Load jQuery -->
        <script src="js/vendors/jquery-1.11.1.min.js"></script>
        <!-- Load Modernizr.js -->
        <script src="js/vendors/modernizr.min.js"></script>
        <!-- Load Bootstrap JavaScript -->
        <script src="js/vendors/bootstrap.min.js"></script>
        <script src="js/vendors/bootstrap-datepicker.min.js"></script>
        <!-- Load Fixed Header table JavaScript -->
        <script src="js/vendors/jquery.fixedheadertable.min.js"></script>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>
