@model Sampoerna.EMS.Website.Models.FinanceRatio.FinanceRatioViewModel

@using (Html.BeginForm("Revise", "FinanceRatio", null, FormMethod.Post, new { @class = "form-excise", role = "form", enctype = "multipart/form-data", id = "reviseForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal ems-modal fade revise-modal financeratio" tabindex="-1" role="dialog" aria-labelledby="ReviseModal" id="reviseModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Request for Revision</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ViewModel.Id)
                    <div class="row col-md-12">
                        <div class="form-group">
                            <label>Note for Creator <span class="red">*</span></label>
                            <textarea class="form-control" rows="5" data-val="true" data-val-required="Rejection message should not be empty!" name="ViewModel.RevisionData.Comment" placeholder="Write the reason of rejection to creator" required>@Model.ViewModel.RevisionData.Comment</textarea>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        @Html.ValidationMessageFor(model => model.ViewModel.RevisionData.Comment)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="frReviseButtonSubmit">Reject</button>
                    <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}