@model Sampoerna.EMS.Website.Models.Waste.WasteUploadViewModel

<div id="table-upload-preview">

    <table class="table table-bordered table-striped js-options-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Company Code</th>
                <th>Plant Code</th>
                <th>Finish Goods</th>
                <th>Brand Description</th>
                <th>Reject Maker</th>
                <th>Reject Packer</th>
                <th>Dust Gram</th>
                <th>Floorsweep Gram</th>
                @*<th>Dust Stick</th>
                <th>Floorsweep Stick</th>*@
                <th>Stem Waste Gram</th>
                <th>Waste Production Date</th>
                <th>Message Error</th>
            </tr>
        </thead>
        <tbody id="tb-upload-excel"></tbody>

    </table>
</div>

