/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.CK4C_REPORT_ITEM
	(
	CK4C_REPORT_ITEM_ID bigint NOT NULL IDENTITY (1, 1),
	CK4C_ID int NULL,
	PROD_CODE nvarchar(2) NULL,
	PROD_TYPE nvarchar(35) NULL,
	MERK nvarchar(65) NULL,
	HJE nvarchar(50) NULL,
	NO_ITEM nvarchar(50) NULL,
	NO_PROD nvarchar(50) NULL,
	PROD_DATE nvarchar(15) NULL,
	SUM_BTG nvarchar(50) NULL,
	BTG_GR nvarchar(50) NULL,
	ISI nvarchar(50) NULL,
	TOTAL nvarchar(50) NULL,
	PROD_WASTE nvarchar(50) NULL,
	COMMENT_ITEM nvarchar(100) NULL,
	COLLUM_NO int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.CK4C_REPORT_ITEM ADD CONSTRAINT
	PK_Table_1_2 PRIMARY KEY CLUSTERED 
	(
	CK4C_REPORT_ITEM_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CK4C_REPORT_ITEM SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
