/*
   Tuesday, July 12, 20168:25:36 PM
   User: 
   Server: localhost
   Database: EMS_TRN
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LACK1_PRODUCTION_DETAIL
	DROP CONSTRAINT FK_LACK1_PRODUCTION_DETAIL_UOM
GO
ALTER TABLE dbo.UOM SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.UOM', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.UOM', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.UOM', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.LACK1_PRODUCTION_DETAIL
	DROP CONSTRAINT FK_LACK1_PRODUCTION_DETAIL_LACK1
GO
ALTER TABLE dbo.LACK1 SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.LACK1', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.LACK1', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.LACK1', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_LACK1_PRODUCTION_DETAIL
	(
	LACK1_PRODUCTION_ID bigint NOT NULL IDENTITY (1, 1),
	LACK1_ID int NULL,
	AMOUNT decimal(24, 6) NOT NULL,
	PROD_CODE nvarchar(2) NOT NULL,
	PRODUCT_TYPE nvarchar(35) NOT NULL,
	PRODUCT_ALIAS nvarchar(35) NOT NULL,
	UOM_ID nvarchar(5) NOT NULL,
	FA_CODE nvarchar(18) NULL,
	ORDR nvarchar(10) NULL,
	IS_TISTOTIS_DATA bit NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_LACK1_PRODUCTION_DETAIL SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_LACK1_PRODUCTION_DETAIL ON
GO
IF EXISTS(SELECT * FROM dbo.LACK1_PRODUCTION_DETAIL)
	 EXEC('INSERT INTO dbo.Tmp_LACK1_PRODUCTION_DETAIL (LACK1_PRODUCTION_ID, LACK1_ID, AMOUNT, PROD_CODE, PRODUCT_TYPE, PRODUCT_ALIAS, UOM_ID, FA_CODE, ORDR, IS_TISTOTIS_DATA)
		SELECT LACK1_PRODUCTION_ID, LACK1_ID, AMOUNT, PROD_CODE, PRODUCT_TYPE, PRODUCT_ALIAS, UOM_ID, FA_CODE, ORDR, IS_TISTOTIS_DATA FROM dbo.LACK1_PRODUCTION_DETAIL WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_LACK1_PRODUCTION_DETAIL OFF
GO
DROP TABLE dbo.LACK1_PRODUCTION_DETAIL
GO
EXECUTE sp_rename N'dbo.Tmp_LACK1_PRODUCTION_DETAIL', N'LACK1_PRODUCTION_DETAIL', 'OBJECT' 
GO
ALTER TABLE dbo.LACK1_PRODUCTION_DETAIL ADD CONSTRAINT
	PK_LACK1_PRODUCTION_DETAIL PRIMARY KEY CLUSTERED 
	(
	LACK1_PRODUCTION_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 80, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.LACK1_PRODUCTION_DETAIL ADD CONSTRAINT
	FK_LACK1_PRODUCTION_DETAIL_LACK1 FOREIGN KEY
	(
	LACK1_ID
	) REFERENCES dbo.LACK1
	(
	LACK1_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.LACK1_PRODUCTION_DETAIL ADD CONSTRAINT
	FK_LACK1_PRODUCTION_DETAIL_UOM FOREIGN KEY
	(
	UOM_ID
	) REFERENCES dbo.UOM
	(
	UOM_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.LACK1_PRODUCTION_DETAIL', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.LACK1_PRODUCTION_DETAIL', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.LACK1_PRODUCTION_DETAIL', 'Object', 'CONTROL') as Contr_Per 