@model Sampoerna.EMS.Website.Models.GOODSTYPE.GoodsTypeGroupCreateViewModel

<div class="row">
    <label class="col-md-2">Excise Group Type</label>
    <div class="col-md-4">
        <div class="row">
            @for (int i = 0; i < Model.Details.Count; i++)
            {
                @Html.HiddenFor(x => x.Details[i].GoodTypeId)
                
                <div class="col-md-12">
                    @Html.EditorFor(x=>x.Details[i].IsChecked)
                    @Html.Label(Model.Details[i].GoodTypeName)
                </div>
                  
            }

         
        </div>
    </div>
</div>

