.main-menu{
	background: $mainDark;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	.main-header{
		background: $dark;
		margin-top: 25px;
		padding:30px 0;
		text-align: center;
		.main-logo{
			margin: 0 auto;
			display: inline-block;
			img{
				margin-left: -5px;
			}
		}
		h3{
			margin-top: 2px;
			margin-bottom: 0;
			color: $white;
			font-size: 18px;
		}
	}
	.main-menu-content{
		width: 900px;
		margin: 0 auto;
		margin-top: 40px;
		@media screen and (max-width:800px){
			width: 680px;
		}
		.excise-menu{
			background: $white;
			width: 430px;
			float: left;
			margin-right: 40px;
			height: 240px;
			padding: 25px;
			border-bottom: 10px inset $mainColor;
			position: relative;			
			cursor:pointer;
			margin-bottom: 30px;
			overflow: hidden;
			@include box-shadow($blackGrey, 0, 0, 10px);
			@include border-radius(5px);
			transition:0.3s all ease;
			-ms-transition:0.3s all ease;
			-webkit-transition:0.3s all ease;
			-moz-transition:0.3s all ease;
			@media screen and (max-width:800px){
				width: 100%;
				margin-right: 0;
			}
			h3{
				margin-top: 5px;
			}
			p{
				color: $mediumGrey;
				font-size: 14px;
 				line-height: 25px;
 				margin-top: 20px;
 				font-family: $openSans;
			}
			.icon{
				position: absolute;
				right: 15px;
				bottom: 20px;
				background: url('../assets/images/icon-movement.png');
				width: 75px;
				height: 75px;
			}
			&:hover{
				background: $mainColor;
				border-bottom-color: $darkMain;
				transform: scale(1.03);
				-ms-transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-ms-transform: scale(1.03);
				h3{
					color:$white;
				}
				p{
					color: $white;
					opacity: 0.8;
				}
				.icon{
					background: url('../assets/images/icon-movement-white.png');
				}
			}
			&.small{
				height: 92px;
				.icon{
					right: 15px;
					bottom: 2px;
					background: url('../assets/images/icon-master.png');
				}
				&:hover{
					.icon{
						background: url('../assets/images/icon-master-white.png');
					}
				}
			}
			&.last{
				margin-right: 0;
				.icon{
					background: url('../assets/images/icon-claimable.png');
				}
				&:hover{
					.icon{
						background: url('../assets/images/icon-claimable-white.png');
					}
				}
				&.small{
					.icon{
						background: url('../assets/images/icon-setting.png');
						width: 82px;
						height: 86px;
						right: 0;
						bottom: 0;
					}
				&:hover{
					.icon{
						background: url('../assets/images/icon-setting-white.png');
					}
				}
			}
			}
		}
	}
}
.main-page{
	@media screen and (max-width:800px){
		height:1100px;
	}
}
.main-menu-child{
	.modal-dialog{
		margin-top: -5px;
		.modal-header{
			padding: 25px;
			padding-top: 30px;
			border-bottom: none;
			.close{
				margin-top: 3px;
			}
			h3{
				margin: 0;
			}
		}
		.modal-body{
			padding: 25px;
			padding-top: 0px;
			.child-menu{
				background-color: $mainColor;
				padding: 30px 20px;
				text-align: center;
				text-decoration: none;
				display: block;
				color: $white;
				height: 90px;
				@include border-radius(5px);				
				transition:0.3s all ease;
				-ms-transition:0.3s all ease;
				-webkit-transition:0.3s all ease;
				-moz-transition:0.3s all ease;
				font-size: 20px;
				border-bottom: 1px inset $mainColor;
				@media screen and (max-width:800px){
					margin-bottom:15px;
				}
				&:hover{
					background:$colorFontBlack;
					border-bottom: 7px inset $mainColor;
				}
			}
		}
	}
}
footer{
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	color: white;
	z-index: 99;
	font-family: 'Open sans';
}