@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel
<div class="panel-group" id="accordionFour" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordionFour" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    BACK-1
                    <i class="fa fa-caret-down"></i>
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <form class="form-excise" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">Goverment Status</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option>Approved</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-1 No</label>
                                <div class="col-md-8">
                                    @Html.HiddenFor(x=>x.Back1Number)
                                    @Html.TextBox("back1_number", Model.Back1Number, new  {@class = "form-control", @disabled="disabled"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-1 Date</label>
                                <div class="col-md-8">
                                    <div class="input-group date">
                                       @Html.TextBoxFor(x=>x.Back1Date, new  {@class = "form-control"})
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-1 Doc</label>
                                <div class="col-md-8">
                                    <input type="file" class="form-control" multiple="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
