@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel

<div aria-multiselectable="true" role="tablist" id="accordionFive" class="panel-group">
    <div class="panel panel-default">
        <div id="headingFive" role="tab" class="panel-heading">
            <h4 class="panel-title">
                <a aria-controls="collapseFive" aria-expanded="true" href="#collapseFive" data-parent="#accordionFive" data-toggle="collapse" class="collapsed">
                    BACK-3 CK-2
                    <i class="fa fa-caret-down"></i>
                </a>
            </h4>
        </div>
        <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse collapse" id="collapseFive" style="height: 0px;">
            <div class="panel-body">
                <div role="form" class="form-excise">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">Goverment Status</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option>Approved</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-3 No</label>
                                <div class="col-md-8">
                                    <input type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">CK-2 No</label>
                                <div class="col-md-8">
                                    <input type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-3 Date</label>
                                <div class="col-md-8">
                                    <div class="input-group date">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">CK-2 Date</label>
                                <div class="col-md-8">
                                    <div class="input-group date">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-3 Doc</label>
                                <div class="col-md-8">
                                    <input type="file" multiple="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">CK-2 Value</label>
                                <div class="col-md-8">
                                    <input type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-6">
                            <div class="row">
                                <label class="col-md-4">CK-2 Doc</label>
                                <div class="col-md-8">
                                    <input type="file" multiple="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

