@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel
@using DocumentFormat.OpenXml.Office.CustomUI
@using Sampoerna.EMS.Website.Helpers
@{
    ViewBag.Title = "_HomeCreate";
}

<div id="information" class="tab-pane active" role="tabpanel">
    <div class="tab-wrapper">
        <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="">
                            PBCK-3 PBCK-7 Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" style="">
                    <div class="panel-body">
                        <div role="form" class="form-excise">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-7 No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Pbck7Number, new {@class="form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-7 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-3 No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Pbck3Number, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-3 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Document Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.DocumentType, Model.DocumentTypeList,"", new {@class="form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Exec Date From</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-6">
                                    <div class="row">
                                        <label class="col-md-4">Exec Date To</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC ID</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>0703.200.0.01</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Lampiran</label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plant ID</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>001 - Plant One</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-multiselectable="true" role="tablist" id="accordionThree" class="panel-group">
            <div class="panel panel-default">
                <div id="headingThree" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapse6" aria-expanded="true" href="#collapseThree" data-parent="#accordionThree" data-toggle="collapse">
                            Table
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse in" id="collapseThree" style="">
                    <div class="panel-body">
                        <a href="#upload"><button class="btn btn-blue">Upload</button></a>
                        <div class="table-container">
                            <table class="table table-bordered table-striped js-options-table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>FA Code</th>
                                        <th>Product Type Alias</th>
                                        <th>Brand</th>
                                        <th>Content</th>
                                        <th>PBCK-7 QTY</th>
                                        <th>BACK-1 QTY</th>
                                        <th>Series Value</th>
                                        <th>HJE</th>
                                        <th>Tariff</th>
                                        <th>Fiscal Year</th>
                                        <th>Excise Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-multiselectable="true" role="tablist" id="accordionFour" class="panel-group">
            <div class="panel panel-default">
                <div id="headingFour" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseFour" aria-expanded="true" href="#collapseFour" data-parent="#accordionFour" data-toggle="collapse" class="collapsed">
                            BACK-1
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingFour" role="tabpanel" class="panel-collapse collapse" id="collapseFour" style="height: 0px;">
                    <div class="panel-body">
                        <div role="form" class="form-excise">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Goverment Status</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>Approved</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">BACK-1 No</label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">BACK-1 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">BACK-1 Doc</label>
                                        <div class="col-md-8">
                                            <input type="file" multiple="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-multiselectable="true" role="tablist" id="accordionFive" class="panel-group">
            <div class="panel panel-default">
                <div id="headingFive" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseFive" aria-expanded="true" href="#collapseFive" data-parent="#accordionFive" data-toggle="collapse" class="collapsed">
                            BACK-3 CK-2
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse collapse" id="collapseFive" style="height: 0px;">
                    <div class="panel-body">
                        <div role="form" class="form-excise">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Goverment Status</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>Approved</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">BACK-3 No</label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">CK-2 No</label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">BACK-3 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">CK-2 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">BACK-3 Doc</label>
                                        <div class="col-md-8">
                                            <input type="file" multiple="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">CK-2 Value</label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-6">
                                    <div class="row">
                                        <label class="col-md-4">CK-2 Doc</label>
                                        <div class="col-md-8">
                                            <input type="file" multiple="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-multiselectable="true" role="tablist" id="accordion-7" class="panel-group not-upload">
            <div class="panel panel-default">
                <div id="heading7" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapse7" aria-expanded="true" href="#collapse7" data-parent="#accordion-7" data-toggle="collapse">
                            Workflow History
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="heading7" role="tabpanel" class="panel-collapse collapse" id="collapse7">
                    <div class="panel-body">
                        <div class="table-container">
                            <table class="table table-bordered table-striped js-options-table">
                                <thead>
                                    <tr>
                                        <th>Account Name</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                        <th>Date</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

