@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "PBCK7AndPBCK3"))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>PBCK-3</h3>
                <label class="status">Draft</label>
                <h3>PBCK-7</h3>
                <label class="status">Draft</label>
                <div class="action-button">
                    <button class="btn btn-blue">Save</button>
                    <button class="btn btn-grey">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    @Html.AntiForgeryToken()
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Information</a></li>
                        <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="printout" href="#printout">Print Out</a></li>
                        <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="upload" href="#upload">Upload</a></li>
                        @*<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="changes" href="#changes">Changes Log</a></li>*@
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeCreate")
                        @Html.Partial("_PrintOut")
                        @Html.Partial("_Upload")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

