@model Sampoerna.EMS.Website.Models.BrandRegistrationTransaction.ProductDevelopment.ProductDevelopmentViewModel
<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="lblTitle">Summary Report</h3>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/js/custom.js"></script>
    <script type="text/javascript" language="javascript" class="init">

        $(document).ready(function () {
            $('#MenuSKEP').removeClass('open');
            $('#MenuBrand').removeClass('open');

            $('#MenuProduct').addClass('open');
            $('#MenuProductDevelopmentSummaryReports').addClass('active');
            setupDataTables();
        });

        function setupDataTables() {

            var table = null;
            if ($.fn.dataTable.isDataTable('#proDevTable')) {
                table = $('#proDevTable').DataTable();
                table.destroy();
            }

            table = $('#proDevTable').DataTable(
                  {
                      "sDom": "Rlfrtip",
                      "language": {
                          "zeroRecords": "No records found",
                          "infoFiltered": "(filtered from _MAX_ total records)"
                      }
                  });


            $('#proDevTable .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0) {
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" />');
                }
            });


            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }

    </script>
}