USE [EMS]
GO
/****** Object:  Table [dbo].[EMAIL_TEMPLATE]    Script Date: 6/25/2015 11:19:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_TEMPLATE](
	[EMAIL_TEMPLATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TEMPLATE_NAME] [nvarchar](50) NULL,
	[SUBJECT] [nvarchar](50) NULL,
	[BODY] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_EMAIL_TEMPLATE] PRIMARY KEY CLUSTERED 
(
	[EMAIL_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WORKFLOW_EMAIL]    Script Date: 6/25/2015 11:19:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKFLOW_EMAIL](
	[WORKFLOW_EMAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[FORM_TYPE_ID] [int] NULL,
	[FORM_STATUS] [int] NULL,
	[EMAIL_TEMPLATE_ID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_WORKFLOW_EMAIL] PRIMARY KEY CLUSTERED 
(
	[WORKFLOW_EMAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[WORKFLOW_EMAIL]  WITH CHECK ADD  CONSTRAINT [FK_WORKFLOW_EMAIL_EMAIL_TEMPLATE] FOREIGN KEY([EMAIL_TEMPLATE_ID])
REFERENCES [dbo].[EMAIL_TEMPLATE] ([EMAIL_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[WORKFLOW_EMAIL] CHECK CONSTRAINT [FK_WORKFLOW_EMAIL_EMAIL_TEMPLATE]
GO
