@model Sampoerna.EMS.Website.Models.LACK1.Lack1CreateViewModel

<table class="table table-bordered table-striped js-options-table">
    <thead>
        <tr>
            <th>No</th>
            <th>Beginning Balance</th>
            <th>Usage</th>
            <th>Production</th>
            <th>Ending Balance</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>

    </tbody>
</table>

