@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.LACK1.Lack1BaseItemModel

<div role="tabpanel" class="tab-pane" id="printout">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingPrintHistory">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsePrintHistory" aria-expanded="true" aria-controls="collapsePrintHistory">
                        Print Out
                    </a>
                </h4>
            </div>
            <div id="collapsePrintHistory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPrintHistory">
                <div class="panel-body">
                    <div class="form-excise " role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-3">LACK-1 No</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="@Model.Lack1Number" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-3">Date</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="@DateTime.Now.ToString("dd MMM yyyy HH:mm:ss")" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-3">User</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="@Html.UserName()" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-container" id="PrintOutHistoryTable">
        @Html.Partial("_PrintHistoryTable")
    </div>
</div>