/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION

GO
ALTER TABLE dbo.CK5
	DROP CONSTRAINT FK_CK5_UOM
GO
ALTER TABLE dbo.UOM SET (LOCK_ESCALATION = TABLE)
GO

ALTER TABLE dbo.CK5
	DROP CONSTRAINT FK_CK5_PBCK1
GO
ALTER TABLE dbo.PBCK1 SET (LOCK_ESCALATION = TABLE)
GO

ALTER TABLE dbo.CK5
	DROP CONSTRAINT FK_CK5_USER
GO
ALTER TABLE dbo.CK5
	DROP CONSTRAINT FK_CK5_APPROVED_BY_USER
GO
ALTER TABLE dbo.CK5
	DROP CONSTRAINT FK_CK5_CREATED_BY_USER
GO
ALTER TABLE dbo.[USER] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE dbo.Tmp_CK5
	(
	CK5_ID bigint NOT NULL IDENTITY (1, 1),
	CK5_TYPE int NOT NULL,
	KPPBC_CITY nvarchar(50) NOT NULL,
	CE_OFFICE_CODE nvarchar(10) NOT NULL,
	SUBMISSION_NUMBER nvarchar(30) NULL,
	SUBMISSION_DATE datetime NULL,
	REGISTRATION_NUMBER nvarchar(30) NULL,
	EX_GOODS_TYPE_DESC nvarchar(65) NULL,
	EX_SETTLEMENT_ID int NOT NULL,
	EX_STATUS_ID int NOT NULL,
	REQUEST_TYPE_ID int NOT NULL,
	STO_SENDER_NUMBER nvarchar(50) NULL,
	STO_RECEIVER_NUMBER nvarchar(50) NULL,
	STOB_NUMBER nvarchar(50) NULL,
	SOURCE_PLANT_ID nvarchar(4) NOT NULL,
	DEST_PLANT_ID nvarchar(4) NULL,
	INVOICE_NUMBER nvarchar(50) NULL,
	INVOICE_DATE datetime NULL,
	PBCK1_DECREE_ID int NULL,
	CARRIAGE_METHOD_ID int NULL,
	GRAND_TOTAL_EX numeric(18, 2) NULL,
	PACKAGE_UOM_ID nvarchar(5) NULL,
	DEST_COUNTRY_ID int NULL,
	HARBOUR nvarchar(50) NULL,
	OFFICE_HARBOUR nvarchar(50) NULL,
	LAST_SHELTER_HARBOUR nvarchar(50) NULL,
	OFFICE_SHELTER nvarchar(50) NULL,
	DN_NUMBER nvarchar(30) NULL,
	GR_DATE datetime NULL,
	GI_DATE datetime NULL,
	SEALING_NOTIF_NUMBER nvarchar(50) NULL,
	UNSEALING_NOTIF_NUMBER nvarchar(50) NULL,
	SEALING_NOTIF_DATE datetime NULL,
	UNSEALING_NOTIF_DATE datetime NULL,
	LOADING_PORT nvarchar(50) NULL,
	LOADING_PORT_NAME nvarchar(50) NULL,
	LOADING_PORT_ID nvarchar(10) NULL,
	FINAL_PORT nvarchar(50) NULL,
	FINAL_PORT_ID nvarchar(10) NULL,
	STATUS_ID int NOT NULL,
	CREATED_BY nvarchar(50) NULL,
	CREATED_DATE datetime NOT NULL,
	APPROVED_BY_POA nvarchar(50) NULL,
	APPROVED_DATE_POA datetime NULL,
	MODIFIED_DATE datetime NULL,
	SOURCE_PLANT_NPWP nvarchar(30) NULL,
	SOURCE_PLANT_NPPBKC_ID nvarchar(15) NULL,
	SOURCE_PLANT_COMPANY_NAME nvarchar(35) NULL,
	SOURCE_PLANT_ADDRESS nvarchar(150) NULL,
	SOURCE_PLANT_KPPBC_NAME_OFFICE nvarchar(150) NULL,
	DEST_PLANT_NPWP nvarchar(30) NULL,
	DEST_PLANT_NPPBKC_ID nvarchar(15) NULL,
	DEST_PLANT_COMPANY_NAME nvarchar(35) NULL,
	DEST_PLANT_ADDRESS nvarchar(150) NULL,
	DEST_PLANT_KPPBC_NAME_OFFICE nvarchar(150) NULL,
	REGISTRATION_DATE datetime NULL,
	DN_DATE datetime NULL,
	SOURCE_PLANT_NAME nvarchar(30) NULL,
	DEST_PLANT_NAME nvarchar(30) NULL,
	FINAL_PORT_NAME nvarchar(50) NULL,
	APPROVED_BY_MANAGER nvarchar(50) NULL,
	APPROVED_DATE_MANAGER datetime NULL,
	SOURCE_PLANT_COMPANY_CODE nvarchar(4) NULL,
	DEST_PLANT_COMPANY_CODE nvarchar(4) NULL,
	EX_GOODS_TYPE int NOT NULL,
	DEST_COUNTRY_CODE nvarchar(5) NULL,
	DEST_COUNTRY_NAME nvarchar(30) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_CK5 SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_CK5 ON
GO
IF EXISTS(SELECT * FROM dbo.CK5)
	 EXEC('INSERT INTO dbo.Tmp_CK5 (CK5_ID, CK5_TYPE, KPPBC_CITY, CE_OFFICE_CODE, SUBMISSION_NUMBER, SUBMISSION_DATE, REGISTRATION_NUMBER, EX_GOODS_TYPE_DESC, EX_SETTLEMENT_ID, EX_STATUS_ID, REQUEST_TYPE_ID, STO_SENDER_NUMBER, STO_RECEIVER_NUMBER, STOB_NUMBER, SOURCE_PLANT_ID, DEST_PLANT_ID, INVOICE_NUMBER, INVOICE_DATE, PBCK1_DECREE_ID, CARRIAGE_METHOD_ID, GRAND_TOTAL_EX, PACKAGE_UOM_ID, DEST_COUNTRY_ID, HARBOUR, OFFICE_HARBOUR, LAST_SHELTER_HARBOUR, OFFICE_SHELTER, DN_NUMBER, GR_DATE, GI_DATE, SEALING_NOTIF_NUMBER, UNSEALING_NOTIF_NUMBER, SEALING_NOTIF_DATE, UNSEALING_NOTIF_DATE, LOADING_PORT, LOADING_PORT_NAME, LOADING_PORT_ID, FINAL_PORT, FINAL_PORT_ID, STATUS_ID, CREATED_BY, CREATED_DATE, APPROVED_BY_POA, APPROVED_DATE_POA, MODIFIED_DATE, SOURCE_PLANT_NPWP, SOURCE_PLANT_NPPBKC_ID, SOURCE_PLANT_COMPANY_NAME, SOURCE_PLANT_ADDRESS, SOURCE_PLANT_KPPBC_NAME_OFFICE, DEST_PLANT_NPWP, DEST_PLANT_NPPBKC_ID, DEST_PLANT_COMPANY_NAME, DEST_PLANT_ADDRESS, DEST_PLANT_KPPBC_NAME_OFFICE, REGISTRATION_DATE, DN_DATE, SOURCE_PLANT_NAME, DEST_PLANT_NAME, FINAL_PORT_NAME, APPROVED_BY_MANAGER, APPROVED_DATE_MANAGER, SOURCE_PLANT_COMPANY_CODE, DEST_PLANT_COMPANY_CODE, EX_GOODS_TYPE, DEST_COUNTRY_CODE, DEST_COUNTRY_NAME)
		SELECT CK5_ID, CK5_TYPE, KPPBC_CITY, CE_OFFICE_CODE, SUBMISSION_NUMBER, SUBMISSION_DATE, REGISTRATION_NUMBER, EX_GOODS_TYPE_DESC, EX_SETTLEMENT_ID, EX_STATUS_ID, REQUEST_TYPE_ID, STO_SENDER_NUMBER, STO_RECEIVER_NUMBER, STOB_NUMBER, SOURCE_PLANT_ID, DEST_PLANT_ID, INVOICE_NUMBER, INVOICE_DATE, PBCK1_DECREE_ID, CARRIAGE_METHOD_ID, GRAND_TOTAL_EX, PACKAGE_UOM_ID, DEST_COUNTRY_ID, HARBOUR, OFFICE_HARBOUR, LAST_SHELTER_HARBOUR, OFFICE_SHELTER, DN_NUMBER, GR_DATE, GI_DATE, SEALING_NOTIF_NUMBER, UNSEALING_NOTIF_NUMBER, SEALING_NOTIF_DATE, UNSEALING_NOTIF_DATE, LOADING_PORT, LOADING_PORT_NAME, LOADING_PORT_ID, FINAL_PORT, FINAL_PORT_ID, STATUS_ID, CREATED_BY, CREATED_DATE, APPROVED_BY_POA, APPROVED_DATE_POA, MODIFIED_DATE, SOURCE_PLANT_NPWP, SOURCE_PLANT_NPPBKC_ID, SOURCE_PLANT_COMPANY_NAME, SOURCE_PLANT_ADDRESS, SOURCE_PLANT_KPPBC_NAME_OFFICE, DEST_PLANT_NPWP, DEST_PLANT_NPPBKC_ID, DEST_PLANT_COMPANY_NAME, DEST_PLANT_ADDRESS, DEST_PLANT_KPPBC_NAME_OFFICE, REGISTRATION_DATE, DN_DATE, SOURCE_PLANT_NAME, DEST_PLANT_NAME, FINAL_PORT_NAME, APPROVED_BY_MANAGER, APPROVED_DATE_MANAGER, SOURCE_PLANT_COMPANY_CODE, DEST_PLANT_COMPANY_CODE, EX_GOODS_TYPE, DEST_COUNTRY_CODE, DEST_COUNTRY_NAME FROM dbo.CK5 WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_CK5 OFF
GO
ALTER TABLE dbo.CK5_MATERIAL
	DROP CONSTRAINT FK_CK5_MATERIAL_CK5
GO
ALTER TABLE dbo.CK5_FILE_UPLOAD
	DROP CONSTRAINT FK_CK5_FILE_UPLOAD_CK5_FILE_UPLOAD
GO
ALTER TABLE dbo.PBCK1_QUOTA
	DROP CONSTRAINT FK_PBCK1_QUOTA_CK5
GO
ALTER TABLE dbo.LACK2_ITEM
	DROP CONSTRAINT FK_LACK2_ITEM_CK5
GO
DROP TABLE dbo.CK5
GO
EXECUTE sp_rename N'dbo.Tmp_CK5', N'CK5', 'OBJECT' 
GO
ALTER TABLE dbo.CK5 ADD CONSTRAINT
	PK_CK5_DOMESTIC PRIMARY KEY CLUSTERED 
	(
	CK5_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CK5 ADD CONSTRAINT
	FK_CK5_USER FOREIGN KEY
	(
	APPROVED_BY_MANAGER
	) REFERENCES dbo.[USER]
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CK5 ADD CONSTRAINT
	FK_CK5_APPROVED_BY_USER FOREIGN KEY
	(
	APPROVED_BY_POA
	) REFERENCES dbo.[USER]
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CK5 ADD CONSTRAINT
	FK_CK5_CREATED_BY_USER FOREIGN KEY
	(
	CREATED_BY
	) REFERENCES dbo.[USER]
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CK5 ADD CONSTRAINT
	FK_CK5_PBCK1 FOREIGN KEY
	(
	PBCK1_DECREE_ID
	) REFERENCES dbo.PBCK1
	(
	PBCK1_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CK5 ADD CONSTRAINT
	FK_CK5_UOM FOREIGN KEY
	(
	PACKAGE_UOM_ID
	) REFERENCES dbo.UOM
	(
	UOM_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO

ALTER TABLE dbo.LACK2_ITEM ADD CONSTRAINT
	FK_LACK2_ITEM_CK5 FOREIGN KEY
	(
	CK5_ID
	) REFERENCES dbo.CK5
	(
	CK5_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.LACK2_ITEM SET (LOCK_ESCALATION = TABLE)
GO

ALTER TABLE dbo.PBCK1_QUOTA ADD CONSTRAINT
	FK_PBCK1_QUOTA_CK5 FOREIGN KEY
	(
	CK5_ID
	) REFERENCES dbo.CK5
	(
	CK5_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PBCK1_QUOTA SET (LOCK_ESCALATION = TABLE)
GO

ALTER TABLE dbo.CK5_FILE_UPLOAD ADD CONSTRAINT
	FK_CK5_FILE_UPLOAD_CK5_FILE_UPLOAD FOREIGN KEY
	(
	CK5_ID
	) REFERENCES dbo.CK5
	(
	CK5_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CK5_FILE_UPLOAD SET (LOCK_ESCALATION = TABLE)
GO

ALTER TABLE dbo.CK5_MATERIAL ADD CONSTRAINT
	FK_CK5_MATERIAL_CK5 FOREIGN KEY
	(
	CK5_ID
	) REFERENCES dbo.CK5
	(
	CK5_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CK5_MATERIAL SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
