drop table  [dbo].[PRINT_HISTORY]


CREATE TABLE [dbo].[PRINT_HISTORY](
	[PRINT_HISTORY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FORM_TYPE_ID] [int] NOT NULL,
	[FORM_ID] [bigint] NOT NULL,
	[FORM_NUMBER] [nvarchar](30) NULL,
	[PRINT_DATE] [datetime] NOT NULL,
	[PRINT_BY] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_1_1] PRIMARY KEY CLUSTERED 
(
	[PRINT_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[PRINT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_PRINT_HISTORY_USER] FOREIGN KEY([PRINT_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO

ALTER TABLE [dbo].[PRINT_HISTORY] CHECK CONSTRAINT [FK_PRINT_HISTORY_USER]
GO


