
DROP TABLE [LACK1_TRACKING]
DROP TABLE [LACK1_PBCK1_MAPPING]
DROP TABLE [LACK1_PRODUCTION_DETAIL]
DROP TABLE [LACK1_PLANT]
DROP TABLE [LACK1_INCOME_DETAIL]
DROP TABLE [LACK1_DOCUMENT]
DROP TABLE [LACK1]

/****** Object:  Table [dbo].[LACK1]    Script Date: 9/11/2015 2:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LACK1](
	[LACK1_ID] [int] IDENTITY(1,1) NOT NULL,
	[LACK1_NUMBER] [nvarchar](50) NULL,
	[BUKRS] [nvarchar](4) NULL,
	[BUTXT] [nvarchar](35) NULL,
	[PERIOD_MONTH] [int] NULL,
	[PERIOD_YEAR] [int] NULL,
	[SUBMISSION_DATE] [datetime] NULL,
	[SUPPLIER_PLANT] [nvarchar](70) NULL,
	[SUPPLIER_PLANT_WERKS] [nvarchar](4) NULL,
	[SUPPLIER_PLANT_ADDRESS] [nvarchar](50) NULL,
	[EX_GOODTYP] [nvarchar](2) NULL,
	[EX_TYP_DESC] [nvarchar](65) NULL,
	[WASTE_QTY] [decimal](15, 2) NULL,
	[WASTE_UOM] [nvarchar](5) NULL,
	[RETURN_QTY] [decimal](15, 2) NULL,
	[RETURN_UOM] [nvarchar](5) NULL,
	[STATUS] [int] NOT NULL,
	[GOV_STATUS] [int] NULL,
	[DECREE_DATE] [datetime] NULL,
	[NPPBKC_ID] [nvarchar](15) NULL,
	[BEGINING_BALANCE] [decimal](18, 2) NOT NULL,
	[TOTAL_INCOME] [decimal](18, 2) NOT NULL,
	[USAGE] [decimal](18, 2) NOT NULL,
	[LACK1_LEVEL] [int] NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[APPROVED_BY_POA] [nvarchar](50) NULL,
	[APPROVED_DATE_POA] [datetime] NULL,
	[APPROVED_BY_MANAGER] [nvarchar](50) NULL,
	[APPROVED_DATE_MANAGER] [datetime] NULL,
	[LACK1_UOM_ID] [nvarchar](5) NOT NULL,
	[NOTED] [nvarchar](255) NULL,
	[SUPPLIER_COMPANY_NAME] [nvarchar](35) NULL,
	[SUPPLIER_COMPANY_CODE] [varchar](4) NULL,
 CONSTRAINT [PK_LACK1] PRIMARY KEY CLUSTERED 
(
	[LACK1_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LACK1_DOCUMENT]    Script Date: 9/11/2015 2:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_DOCUMENT](
	[LACK1_DOCUMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[FILE_NAME] [nvarchar](50) NULL,
	[FILE_PATH] [nvarchar](250) NULL,
 CONSTRAINT [PK_LACK1_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[LACK1_DOCUMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1_INCOME_DETAIL]    Script Date: 9/11/2015 2:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_INCOME_DETAIL](
	[LACK1_INCOME_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[CK5_ID] [bigint] NULL,
	[AMOUNT] [decimal](18, 2) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](30) NULL,
	[REGISTRATION_DATE] [datetime] NULL,
 CONSTRAINT [PK_LACK1_INCOME_DETAIL] PRIMARY KEY CLUSTERED 
(
	[LACK1_INCOME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1_PBCK1_MAPPING]    Script Date: 9/11/2015 2:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_PBCK1_MAPPING](
	[LACK1_PBCK1_MAPPING_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[PBCK1_ID] [int] NULL,
 CONSTRAINT [PK_LACK1_PBCK1_MAPPING] PRIMARY KEY CLUSTERED 
(
	[LACK1_PBCK1_MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1_PLANT]    Script Date: 9/11/2015 2:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_PLANT](
	[LACK1_PLANT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[PLANT_ID] [nvarchar](4) NULL,
	[PLANT_NAME] [nvarchar](30) NULL,
	[PLANT_ADDRESS] [nvarchar](200) NULL,
 CONSTRAINT [PK_LACK1_PLANT] PRIMARY KEY CLUSTERED 
(
	[LACK1_PLANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1_PRODUCTION_DETAIL]    Script Date: 9/11/2015 2:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_PRODUCTION_DETAIL](
	[LACK1_PRODUCTION_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[AMOUNT] [decimal](18, 2) NOT NULL,
	[PROD_CODE] [nvarchar](2) NOT NULL,
	[PRODUCT_TYPE] [nvarchar](35) NOT NULL,
	[PRODUCT_ALIAS] [nvarchar](35) NOT NULL,
	[UOM_ID] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_LACK1_PRODUCTION_DETAIL] PRIMARY KEY CLUSTERED 
(
	[LACK1_PRODUCTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1_TRACKING]    Script Date: 9/11/2015 2:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_TRACKING](
	[LACK1_TRACKING_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[INVENTORY_MOVEMENT_ID] [bigint] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_LACK1_TRACKING] PRIMARY KEY CLUSTERED 
(
	[LACK1_TRACKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_MONTH] FOREIGN KEY([PERIOD_MONTH])
REFERENCES [dbo].[MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_MONTH]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_RETURN_UOM] FOREIGN KEY([RETURN_UOM])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_RETURN_UOM]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_UOM] FOREIGN KEY([LACK1_UOM_ID])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_UOM]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_USER_APPROVED] FOREIGN KEY([APPROVED_BY_POA])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_USER_APPROVED]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_USER_CREATED] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_USER_CREATED]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_WASTE_UOM] FOREIGN KEY([WASTE_UOM])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_WASTE_UOM]
GO
ALTER TABLE [dbo].[LACK1_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_DOCUMENT_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_DOCUMENT] CHECK CONSTRAINT [FK_LACK1_DOCUMENT_LACK1]
GO
ALTER TABLE [dbo].[LACK1_INCOME_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_INCOME_DETAIL_CK5] FOREIGN KEY([CK5_ID])
REFERENCES [dbo].[CK5] ([CK5_ID])
GO
ALTER TABLE [dbo].[LACK1_INCOME_DETAIL] CHECK CONSTRAINT [FK_LACK1_INCOME_DETAIL_CK5]
GO
ALTER TABLE [dbo].[LACK1_INCOME_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_INCOME_DETAIL_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_INCOME_DETAIL] CHECK CONSTRAINT [FK_LACK1_INCOME_DETAIL_LACK1]
GO
ALTER TABLE [dbo].[LACK1_PBCK1_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_PBCK1_MAPPING_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_PBCK1_MAPPING] CHECK CONSTRAINT [FK_LACK1_PBCK1_MAPPING_LACK1]
GO
ALTER TABLE [dbo].[LACK1_PBCK1_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_PBCK1_MAPPING_PBCK1] FOREIGN KEY([PBCK1_ID])
REFERENCES [dbo].[PBCK1] ([PBCK1_ID])
GO
ALTER TABLE [dbo].[LACK1_PBCK1_MAPPING] CHECK CONSTRAINT [FK_LACK1_PBCK1_MAPPING_PBCK1]
GO
ALTER TABLE [dbo].[LACK1_PLANT]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_PLANT_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_PLANT] CHECK CONSTRAINT [FK_LACK1_PLANT_LACK1]
GO
ALTER TABLE [dbo].[LACK1_PRODUCTION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_PRODUCTION_DETAIL_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_PRODUCTION_DETAIL] CHECK CONSTRAINT [FK_LACK1_PRODUCTION_DETAIL_LACK1]
GO
ALTER TABLE [dbo].[LACK1_PRODUCTION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_PRODUCTION_DETAIL_UOM] FOREIGN KEY([UOM_ID])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[LACK1_PRODUCTION_DETAIL] CHECK CONSTRAINT [FK_LACK1_PRODUCTION_DETAIL_UOM]
GO
ALTER TABLE [dbo].[LACK1_TRACKING]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_TRACKING_INVENTORY_MOVEMENT] FOREIGN KEY([INVENTORY_MOVEMENT_ID])
REFERENCES [dbo].[INVENTORY_MOVEMENT] ([INVENTORY_MOVEMENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LACK1_TRACKING] CHECK CONSTRAINT [FK_LACK1_TRACKING_INVENTORY_MOVEMENT]
GO
ALTER TABLE [dbo].[LACK1_TRACKING]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_TRACKING_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_TRACKING] CHECK CONSTRAINT [FK_LACK1_TRACKING_LACK1]
GO
