
GO
/****** Object:  Table [dbo].[CK4C]    Script Date: 8/21/2015 1:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CK4C](
	[CK4C_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER] [nvarchar](35) NOT NULL,
	[COMPANY_ID] [nvarchar](4) NULL,
	[COMPANY_NAME] [nvarchar](35) NULL,
	[PLANT_ID] [nvarchar](4) NULL,
	[PLANT_NAME] [nvarchar](30) NULL,
	[NPPBKC_ID] [nvarchar](15) NULL,
	[APPROVED_BY] [nvarchar](50) NULL,
	[APPROVED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[REPORTED_ON] [datetime] NULL,
	[REPORTED_PERIOD] [int] NULL,
	[REPORTED_MONTH] [int] NULL,
	[REPORTED_YEAR] [int] NULL,
	[STATUS] [int] NOT NULL,
	[GOV_STATUS] [int] NOT NULL,
 CONSTRAINT [PK_CK4C] PRIMARY KEY CLUSTERED 
(
	[CK4C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CK4C_ITEM]    Script Date: 8/21/2015 1:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CK4C_ITEM](
	[CK4C_ITEM] [bigint] IDENTITY(1,1) NOT NULL,
	[CK4C_ID] [int] NOT NULL,
	[FA_CODE] [nvarchar](18) NOT NULL,
	[WERKS] [nvarchar](4) NOT NULL,
	[PROD_QTY] [decimal](15, 2) NOT NULL,
	[UOM_PROD_QTY] [nvarchar](5) NOT NULL,
	[PROD_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_CK4C_ITEM] PRIMARY KEY CLUSTERED 
(
	[CK4C_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CK4C]  WITH CHECK ADD  CONSTRAINT [FK_CK4C_MODIFIED_BY] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[CK4C] CHECK CONSTRAINT [FK_CK4C_MODIFIED_BY]
GO
ALTER TABLE [dbo].[CK4C]  WITH CHECK ADD  CONSTRAINT [FK_CK4C_MONTH] FOREIGN KEY([REPORTED_MONTH])
REFERENCES [dbo].[MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[CK4C] CHECK CONSTRAINT [FK_CK4C_MONTH]
GO
ALTER TABLE [dbo].[CK4C]  WITH CHECK ADD  CONSTRAINT [FK_CK4C_POA] FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[POA] ([POA_ID])
GO
ALTER TABLE [dbo].[CK4C] CHECK CONSTRAINT [FK_CK4C_POA]
GO
ALTER TABLE [dbo].[CK4C]  WITH CHECK ADD  CONSTRAINT [FK_CK4C_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[CK4C] CHECK CONSTRAINT [FK_CK4C_USER]
GO
ALTER TABLE [dbo].[CK4C_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CK4C_ITEM_CK4C] FOREIGN KEY([CK4C_ID])
REFERENCES [dbo].[CK4C] ([CK4C_ID])
GO
ALTER TABLE [dbo].[CK4C_ITEM] CHECK CONSTRAINT [FK_CK4C_ITEM_CK4C]
GO
ALTER TABLE [dbo].[CK4C_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CK4C_ITEM_UOM] FOREIGN KEY([UOM_PROD_QTY])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[CK4C_ITEM] CHECK CONSTRAINT [FK_CK4C_ITEM_UOM]
GO
ALTER TABLE [dbo].[CK4C_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CK4C_ITEM_ZAIDM_EX_BRAND] FOREIGN KEY([WERKS], [FA_CODE])
REFERENCES [dbo].[ZAIDM_EX_BRAND] ([WERKS], [FA_CODE])
GO
ALTER TABLE [dbo].[CK4C_ITEM] CHECK CONSTRAINT [FK_CK4C_ITEM_ZAIDM_EX_BRAND]
GO
