/*
   Tuesday, October 6, 201510:05:03 AM
   User: 
   Server: localhost
   Database: EMS_DEV_SAMPOERNA
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.POA
	DROP CONSTRAINT FK_POA_CREATED_BY_USER
GO
ALTER TABLE dbo.POA
	DROP CONSTRAINT FK_POA_LOGIN_AS_USER
GO
ALTER TABLE dbo.POA
	DROP CONSTRAINT FK_POA_MODIFIED_BY_USER
GO
ALTER TABLE dbo.POA
	DROP CONSTRAINT FK_POA_USER
GO
ALTER TABLE dbo.[USER] SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.POA
	DROP CONSTRAINT DF_POA_IS_ACTIVE
GO
CREATE TABLE dbo.Tmp_POA
	(
	POA_ID nvarchar(50) NOT NULL,
	ID_CARD nvarchar(22) NOT NULL,
	POA_PHONE nvarchar(25) NOT NULL,
	POA_ADDRESS nvarchar(200) NOT NULL,
	POA_EMAIL nvarchar(50) NOT NULL,
	PRINTED_NAME nvarchar(50) NOT NULL,
	TITLE nvarchar(35) NOT NULL,
	LOGIN_AS nvarchar(50) NOT NULL,
	MANAGER_ID nvarchar(50) NULL,
	CREATED_BY nvarchar(50) NOT NULL,
	CREATED_DATE datetime NOT NULL,
	MODIFIED_BY nvarchar(50) NULL,
	MODIFIED_DATE datetime NULL,
	IS_ACTIVE bit NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_POA SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_POA ADD CONSTRAINT
	DF_POA_IS_ACTIVE DEFAULT ((1)) FOR IS_ACTIVE
GO
IF EXISTS(SELECT * FROM dbo.POA)
	 EXEC('INSERT INTO dbo.Tmp_POA (POA_ID, ID_CARD, POA_PHONE, POA_ADDRESS, POA_EMAIL, PRINTED_NAME, TITLE, LOGIN_AS, MANAGER_ID, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE)
		SELECT POA_ID, ID_CARD, POA_PHONE, POA_ADDRESS, POA_EMAIL, PRINTED_NAME, TITLE, LOGIN_AS, MANAGER_ID, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE FROM dbo.POA WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.PBCK4
	DROP CONSTRAINT FK_PBCK4_POA
GO
ALTER TABLE dbo.PBCK7
	DROP CONSTRAINT FK_PBCK7_POA
GO
ALTER TABLE dbo.POA_MAP
	DROP CONSTRAINT FK_POA_MAP_POA
GO
ALTER TABLE dbo.POA_SK
	DROP CONSTRAINT FK_POA_SK_POA
GO
ALTER TABLE dbo.CK4C
	DROP CONSTRAINT FK_CK4C_POA
GO
ALTER TABLE dbo.PBCK3
	DROP CONSTRAINT FK_PBCK3_POA
GO
DROP TABLE dbo.POA
GO
EXECUTE sp_rename N'dbo.Tmp_POA', N'POA', 'OBJECT' 
GO
ALTER TABLE dbo.POA ADD CONSTRAINT
	PK_POA PRIMARY KEY CLUSTERED 
	(
	POA_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.POA ADD CONSTRAINT
	FK_POA_CREATED_BY_USER FOREIGN KEY
	(
	CREATED_BY
	) REFERENCES dbo.[USER]
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.POA ADD CONSTRAINT
	FK_POA_LOGIN_AS_USER FOREIGN KEY
	(
	LOGIN_AS
	) REFERENCES dbo.[USER]
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.POA ADD CONSTRAINT
	FK_POA_MODIFIED_BY_USER FOREIGN KEY
	(
	MODIFIED_BY
	) REFERENCES dbo.[USER]
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.POA ADD CONSTRAINT
	FK_POA_USER FOREIGN KEY
	(
	MANAGER_ID
	) REFERENCES dbo.[USER]
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PBCK3 ADD CONSTRAINT
	FK_PBCK3_POA FOREIGN KEY
	(
	APPROVED_BY
	) REFERENCES dbo.POA
	(
	POA_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PBCK3 SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CK4C ADD CONSTRAINT
	FK_CK4C_POA FOREIGN KEY
	(
	APPROVED_BY_POA
	) REFERENCES dbo.POA
	(
	POA_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CK4C SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.POA_SK ADD CONSTRAINT
	FK_POA_SK_POA FOREIGN KEY
	(
	POA_ID
	) REFERENCES dbo.POA
	(
	POA_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.POA_SK SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.POA_MAP ADD CONSTRAINT
	FK_POA_MAP_POA FOREIGN KEY
	(
	POA_ID
	) REFERENCES dbo.POA
	(
	POA_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.POA_MAP SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PBCK7 ADD CONSTRAINT
	FK_PBCK7_POA FOREIGN KEY
	(
	APPROVED_BY
	) REFERENCES dbo.POA
	(
	POA_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PBCK7 SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PBCK4 ADD CONSTRAINT
	FK_PBCK4_POA FOREIGN KEY
	(
	APPROVED_BY_POA
	) REFERENCES dbo.POA
	(
	POA_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PBCK4 SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
