
GO
/****** Object:  Table [dbo].[BOM]    Script Date: 8/27/2015 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOM](
	[BOM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLANT] [nvarchar](4) NULL,
	[MATERIAL_ID] [nvarchar](18) NULL,
	[MATERIAL_DESC] [nvarchar](150) NULL,
	[LEVEL1] [nvarchar](18) NULL,
	[LEVEL2] [nvarchar](18) NULL,
	[LEVEL3] [nvarchar](18) NULL,
	[LEVEL4] [nvarchar](18) NULL,
	[LEVEL5] [nvarchar](18) NULL,
	[LEVEL6] [nvarchar](18) NULL,
	[LEVEL7] [nvarchar](18) NULL,
	[LEVEL8] [nvarchar](18) NULL,
	[LEVEL9] [nvarchar](18) NULL,
	[LEVEL19] [nvarchar](18) NULL,
 CONSTRAINT [PK_BOM] PRIMARY KEY CLUSTERED 
(
	[BOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INVENTORY_MOVEMENT]    Script Date: 8/27/2015 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_MOVEMENT](
	[INVENTORY_MOVEMENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MVT] [nvarchar](3) NOT NULL,
	[MATERIAL_ID] [nvarchar](18) NOT NULL,
	[PLANT_ID] [nvarchar](4) NOT NULL,
	[QTY] [decimal](15, 2) NULL,
	[SLOC] [nvarchar](4) NULL,
	[VENDOR] [nvarchar](10) NULL,
	[BUN] [nvarchar](5) NULL,
	[PURCH_DOC] [nvarchar](10) NULL,
	[POSTING_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[TIME] [time](7) NULL,
	[CREATED_USER] [nvarchar](50) NULL,
 CONSTRAINT [PK_INVENTORY_MOVEMENT] PRIMARY KEY CLUSTERED 
(
	[INVENTORY_MOVEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
