
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ZAAP_SHIFT_RPT ADD
	ORIGINAL_QTY decimal(15, 2) NULL,
	ORIGINAL_UOM nvarchar(5) NULL
GO
ALTER TABLE dbo.ZAAP_SHIFT_RPT SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
