/*
   Tuesday 27 October 20159:45:59 AM
   User: sa
   Server: localhost
   Database: EMS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_ZAAP_SHIFT_RPT
	(
	COMPANY_CODE nvarchar(4) NOT NULL,
	WERKS nvarchar(4) NOT NULL,
	FA_CODE nvarchar(18) NOT NULL,
	UOM nvarchar(5) NULL,
	PRODUCTION_DATE datetime NOT NULL,
	BATCH nvarchar(35) NULL,
	QTY decimal(15, 2) NULL,
	BUNDLE int NULL,
	MARKET nvarchar(2) NULL,
	DOCGMVTER nvarchar(35) NULL,
	MATDOC nvarchar(10) NOT NULL,
	ORDR nvarchar(10) NULL,
	CREATED_DATE datetime NOT NULL,
	MODIFIED_DATE datetime NULL,
	CREATED_BY nvarchar(50) NULL,
	MODIFIED_BY nvarchar(50) NULL,
	SHIFT nvarchar(10) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_ZAAP_SHIFT_RPT SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.ZAAP_SHIFT_RPT)
	 EXEC('INSERT INTO dbo.Tmp_ZAAP_SHIFT_RPT (COMPANY_CODE, WERKS, FA_CODE, UOM, PRODUCTION_DATE, BATCH, QTY, BUNDLE, MARKET, DOCGMVTER, MATDOC, ORDR, CREATED_DATE, MODIFIED_DATE, CREATED_BY, MODIFIED_BY, SHIFT)
		SELECT COMPANY_CODE, WERKS, FA_CODE, UOM, PRODUCTION_DATE, BATCH, QTY, BUNDLE, MARKET, DOCGMVTER, MATDOC, ORDR, CREATED_DATE, MODIFIED_DATE, CREATED_BY, MODIFIED_BY, SHIFT FROM dbo.ZAAP_SHIFT_RPT WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.ZAAP_SHIFT_RPT
GO
EXECUTE sp_rename N'dbo.Tmp_ZAAP_SHIFT_RPT', N'ZAAP_SHIFT_RPT', 'OBJECT' 
GO
ALTER TABLE dbo.ZAAP_SHIFT_RPT ADD CONSTRAINT
	PK_ZAAP_SHIFT_RPT PRIMARY KEY CLUSTERED 
	(
	MATDOC
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
