USE [EMS-DEV2]
GO
/****** Object:  Table [dbo].[PBCK3]    Script Date: 9/16/2015 11:18:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBCK3](
	[PBCK3_ID] [int] IDENTITY(1,1) NOT NULL,
	[PBCK3_NUMBER] [nvarchar](35) NOT NULL,
	[PBCK3_DATE] [date] NOT NULL,
	[PBCK7_ID] [int] NOT NULL,
	[GOV_STATUS] [int] NULL,
	[STATUS] [int] NULL,
	[APPROVED_BY] [nvarchar](50) NULL,
	[APPROVED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[APPROVED_BY_MANAGER] [nvarchar](50) NULL,
	[APPROVED_BY_MANAGER_DATE] [datetime] NULL,
	[REJECTED_BY] [nvarchar](50) NULL,
	[REJECTED_DATE] [datetime] NULL,
 CONSTRAINT [PK_PBCK3] PRIMARY KEY CLUSTERED 
(
	[PBCK3_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PBCK7]    Script Date: 9/16/2015 11:18:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBCK7](
	[PBCK7_ID] [int] IDENTITY(1,1) NOT NULL,
	[PBCK7_NUMBER] [nvarchar](35) NOT NULL,
	[PBCK7_DATE] [date] NOT NULL,
	[DOCUMENT_TYPE] [int] NOT NULL,
	[NPPBKC] [nvarchar](15) NOT NULL,
	[PLANT_ID] [nvarchar](4) NOT NULL,
	[EXEC_DATE_FROM] [date] NOT NULL,
	[EXEC_DATE_TO] [date] NOT NULL,
	[LAMPIRAN] [nvarchar](50) NULL,
	[APPROVED_BY] [nvarchar](50) NULL,
	[APPROVED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[APPROVED_BY_MANAGER] [nvarchar](50) NULL,
	[APPROVED_BY_MANAGER_DATE] [datetime] NULL,
	[REJECTED_BY] [nvarchar](50) NULL,
	[REJECTED_DATE] [datetime] NULL,
 CONSTRAINT [PK_PBCK7_NUMBER] PRIMARY KEY CLUSTERED 
(
	[PBCK7_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PBCK3]  WITH CHECK ADD  CONSTRAINT [FK_PBCK3_MANAGER] FOREIGN KEY([APPROVED_BY_MANAGER])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK3] CHECK CONSTRAINT [FK_PBCK3_MANAGER]
GO
ALTER TABLE [dbo].[PBCK3]  WITH CHECK ADD  CONSTRAINT [FK_PBCK3_MODIFIED_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK3] CHECK CONSTRAINT [FK_PBCK3_MODIFIED_USER]
GO
ALTER TABLE [dbo].[PBCK3]  WITH CHECK ADD  CONSTRAINT [FK_PBCK3_PBCK7] FOREIGN KEY([PBCK7_ID])
REFERENCES [dbo].[PBCK7] ([PBCK7_ID])
GO
ALTER TABLE [dbo].[PBCK3] CHECK CONSTRAINT [FK_PBCK3_PBCK7]
GO
ALTER TABLE [dbo].[PBCK3]  WITH CHECK ADD  CONSTRAINT [FK_PBCK3_POA] FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[POA] ([POA_ID])
GO
ALTER TABLE [dbo].[PBCK3] CHECK CONSTRAINT [FK_PBCK3_POA]
GO
ALTER TABLE [dbo].[PBCK3]  WITH CHECK ADD  CONSTRAINT [FK_PBCK3_REJECT] FOREIGN KEY([REJECTED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK3] CHECK CONSTRAINT [FK_PBCK3_REJECT]
GO
ALTER TABLE [dbo].[PBCK3]  WITH CHECK ADD  CONSTRAINT [FK_PBCK3_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK3] CHECK CONSTRAINT [FK_PBCK3_USER]
GO
ALTER TABLE [dbo].[PBCK7]  WITH CHECK ADD  CONSTRAINT [FK_PBCK7_MANAGER] FOREIGN KEY([APPROVED_BY_MANAGER])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK7] CHECK CONSTRAINT [FK_PBCK7_MANAGER]
GO
ALTER TABLE [dbo].[PBCK7]  WITH CHECK ADD  CONSTRAINT [FK_PBCK7_MODIFIED_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK7] CHECK CONSTRAINT [FK_PBCK7_MODIFIED_USER]
GO
ALTER TABLE [dbo].[PBCK7]  WITH CHECK ADD  CONSTRAINT [FK_PBCK7_POA] FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[POA] ([POA_ID])
GO
ALTER TABLE [dbo].[PBCK7] CHECK CONSTRAINT [FK_PBCK7_POA]
GO
ALTER TABLE [dbo].[PBCK7]  WITH CHECK ADD  CONSTRAINT [FK_PBCK7_REJECTED_USER] FOREIGN KEY([REJECTED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK7] CHECK CONSTRAINT [FK_PBCK7_REJECTED_USER]
GO
ALTER TABLE [dbo].[PBCK7]  WITH CHECK ADD  CONSTRAINT [FK_PBCK7_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK7] CHECK CONSTRAINT [FK_PBCK7_USER]
GO
