DROP TABLE LACK1_PBCK1_MAPPING
GO

CREATE TABLE [dbo].[LACK1_PBCK1_MAPPING](
	[LACK1_PBCK1_MAPPING_ID] [bigint] NOT NULL,
	[LACK1_ID] [int] NOT NULL,
	[PBCK1_ID] [int] NOT NULL,
 CONSTRAINT [PK_LACK1_PBCK1_MAPPING] PRIMARY KEY CLUSTERED 
(
	[LACK1_PBCK1_MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LACK1_PBCK1_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_PBCK1_MAPPING_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_PBCK1_MAPPING] CHECK CONSTRAINT [FK_LACK1_PBCK1_MAPPING_LACK1]
GO
ALTER TABLE [dbo].[LACK1_PBCK1_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_PBCK1_MAPPING_PBCK1] FOREIGN KEY([PBCK1_ID])
REFERENCES [dbo].[PBCK1] ([PBCK1_ID])
GO
ALTER TABLE [dbo].[LACK1_PBCK1_MAPPING] CHECK CONSTRAINT [FK_LACK1_PBCK1_MAPPING_PBCK1]
GO
