DROP TABLE POA_MAP
/****** Object:  Table [dbo].[POA_MAP]    Script Date: 8/10/2015 5:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POA_MAP](
	[POA_MAP_ID] [int] IDENTITY(1,1) NOT NULL,
	[NPPBKC_ID] [nvarchar](15) NOT NULL,
	[WERKS] [nvarchar](4) NOT NULL,
	[POA_ID] [nvarchar](50) NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_POA_MAP] PRIMARY KEY CLUSTERED 
(
	[POA_MAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[POA_MAP]  WITH CHECK ADD  CONSTRAINT [FK_POA_MAP_CREATED_BY_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[POA_MAP] CHECK CONSTRAINT [FK_POA_MAP_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[POA_MAP]  WITH CHECK ADD  CONSTRAINT [FK_POA_MAP_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[POA_MAP] CHECK CONSTRAINT [FK_POA_MAP_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[POA_MAP]  WITH CHECK ADD  CONSTRAINT [FK_POA_MAP_POA] FOREIGN KEY([POA_ID])
REFERENCES [dbo].[POA] ([POA_ID])
GO
ALTER TABLE [dbo].[POA_MAP] CHECK CONSTRAINT [FK_POA_MAP_POA]
GO
ALTER TABLE [dbo].[POA_MAP]  WITH CHECK ADD  CONSTRAINT [FK_POA_MAP_T001W] FOREIGN KEY([WERKS])
REFERENCES [dbo].[T001W] ([WERKS])
GO
ALTER TABLE [dbo].[POA_MAP] CHECK CONSTRAINT [FK_POA_MAP_T001W]
GO
ALTER TABLE [dbo].[POA_MAP]  WITH CHECK ADD  CONSTRAINT [FK_POA_MAP_ZAIDM_EX_NPPBKC] FOREIGN KEY([NPPBKC_ID])
REFERENCES [dbo].[ZAIDM_EX_NPPBKC] ([NPPBKC_ID])
GO
ALTER TABLE [dbo].[POA_MAP] CHECK CONSTRAINT [FK_POA_MAP_ZAIDM_EX_NPPBKC]
GO
