USE [EMS-DEV2]
GO
DROP TABLE PBCK4_ITEM
GO
/****** Object:  Table [dbo].[CK1]    Script Date: 9/10/2015 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CK1](
	[CK1_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CK1_NUMBER] [nvarchar](35) NOT NULL,
	[CK1_DATE] [date] NOT NULL,
	[FA_CODE] [nvarchar](18) NULL,
	[MATERIAL_ID] [nvarchar](18) NOT NULL,
	[PLANT_ID] [nvarchar](4) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_CK1] PRIMARY KEY CLUSTERED 
(
	[CK1_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PBCK4_ITEM]    Script Date: 9/10/2015 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBCK4_ITEM](
	[PBCK4_ITEM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PBCK4_ID] [int] NOT NULL,
	[CK1_ID] [bigint] NULL,
	[TOTAL_HJE] [decimal](15, 2) NULL,
	[TOTAL_STAMPS] [decimal](15, 2) NULL,
	[APPROVED_QTY] [decimal](15, 2) NULL,
	[REMARKS] [nvarchar](150) NULL,
 CONSTRAINT [PK_PBCK4_ITEM] PRIMARY KEY CLUSTERED 
(
	[PBCK4_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CK1]  WITH CHECK ADD  CONSTRAINT [FK_CK1_ZAIDM_EX_BRAND] FOREIGN KEY([PLANT_ID], [FA_CODE])
REFERENCES [dbo].[ZAIDM_EX_BRAND] ([WERKS], [FA_CODE])
GO
ALTER TABLE [dbo].[CK1] CHECK CONSTRAINT [FK_CK1_ZAIDM_EX_BRAND]
GO
ALTER TABLE [dbo].[PBCK4_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_PBCK4_ITEM_CK1] FOREIGN KEY([CK1_ID])
REFERENCES [dbo].[CK1] ([CK1_ID])
GO
ALTER TABLE [dbo].[PBCK4_ITEM] CHECK CONSTRAINT [FK_PBCK4_ITEM_CK1]
GO
ALTER TABLE [dbo].[PBCK4_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_PBCK4_ITEM_PBCK4] FOREIGN KEY([PBCK4_ID])
REFERENCES [dbo].[PBCK4] ([PBCK4_ID])
GO
ALTER TABLE [dbo].[PBCK4_ITEM] CHECK CONSTRAINT [FK_PBCK4_ITEM_PBCK4]
GO
