USE [EMS-DEV2]
GO
/****** Object:  Table [dbo].[PBCK4]    Script Date: 9/10/2015 2:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PBCK4](
	[PBCK4_ID] [int] IDENTITY(1,1) NOT NULL,
	[PBCK1_NUMBER] [varchar](35) NOT NULL,
	[PLANT_ID] [nvarchar](4) NULL,
	[PLANT_NAME] [nvarchar](30) NULL,
	[NPPBKC_ID] [nvarchar](15) NOT NULL,
	[NPPBKC_DESCRIPTION] [nvarchar](50) NULL,
	[COMPANY_ID] [nvarchar](4) NULL,
	[COMPANY_NAME] [nvarchar](35) NULL,
	[STATUS] [int] NOT NULL,
	[GOV_STATUS] [int] NULL,
	[REPORTED_ON] [date] NULL,
	[BACK1_NO] [nvarchar](35) NULL,
	[BACK1_DATE] [datetime] NULL,
	[CK3_NO] [nvarchar](35) NULL,
	[CK3_DATE] [datetime] NULL,
	[CK3_OFFICE_VALUE] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[APPROVED_BY_POA] [nvarchar](50) NULL,
	[APPROVED_BY_POA_DATE] [datetime] NULL,
	[REJECTED_BY] [nvarchar](50) NULL,
	[REJECTED_DATE] [datetime] NULL,
	[APPROVED_BY_MANAGER] [nvarchar](50) NULL,
	[APPROVED_BY_MANAGER_DATE] [datetime] NULL,
 CONSTRAINT [PK_PBCK4] PRIMARY KEY CLUSTERED 
(
	[PBCK4_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PBCK4_DOCUMENT]    Script Date: 9/10/2015 2:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBCK4_DOCUMENT](
	[PBCK4_DOCUMENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOC_TYPE] [int] NOT NULL,
	[FILE_NAME] [nvarchar](100) NOT NULL,
	[FILE_PATH] [nvarchar](250) NOT NULL,
	[PBCK4_ID] [int] NOT NULL,
 CONSTRAINT [PK_PBCK4_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[PBCK4_DOCUMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PBCK4_ITEM]    Script Date: 9/10/2015 2:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBCK4_ITEM](
	[PBCK4_ITEM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PBCK4_ID] [int] NOT NULL,
	[FA_CODE] [nvarchar](18) NULL,
	[STICKER_CODE] [nvarchar](18) NULL,
	[CK1_NO] [nvarchar](35) NULL,
	[CK1_DATA] [date] NULL,
	[SERIES_CODE] [nvarchar](4) NULL,
	[BRAND_NAME] [nvarchar](65) NULL,
	[PRODUCT_ALIAS] [nvarchar](35) NULL,
	[BRAND_CONTENT] [int] NULL,
	[HJE] [numeric](15, 2) NULL,
	[TARIF] [numeric](15, 2) NULL,
	[COLOUR] [nvarchar](70) NULL,
	[REQUEST_QTY] [decimal](15, 2) NULL,
	[TOTAL_HJE] [decimal](15, 2) NULL,
	[TOTAL_STAMPS] [decimal](15, 2) NULL,
	[APPROVED_QTY] [decimal](15, 2) NULL,
	[REMARKS] [nvarchar](150) NULL,
 CONSTRAINT [PK_PBCK4_ITEM] PRIMARY KEY CLUSTERED 
(
	[PBCK4_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PBCK4]  WITH CHECK ADD  CONSTRAINT [FK_PBCK4_POA] FOREIGN KEY([APPROVED_BY_POA])
REFERENCES [dbo].[POA] ([POA_ID])
GO
ALTER TABLE [dbo].[PBCK4] CHECK CONSTRAINT [FK_PBCK4_POA]
GO
ALTER TABLE [dbo].[PBCK4]  WITH CHECK ADD  CONSTRAINT [FK_PBCK4_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK4] CHECK CONSTRAINT [FK_PBCK4_USER]
GO
ALTER TABLE [dbo].[PBCK4]  WITH CHECK ADD  CONSTRAINT [FK_PBCK4_USER_MODIFIED] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK4] CHECK CONSTRAINT [FK_PBCK4_USER_MODIFIED]
GO
ALTER TABLE [dbo].[PBCK4]  WITH CHECK ADD  CONSTRAINT [FK_PBCK4_USER_REJECT] FOREIGN KEY([REJECTED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK4] CHECK CONSTRAINT [FK_PBCK4_USER_REJECT]
GO
ALTER TABLE [dbo].[PBCK4]  WITH CHECK ADD  CONSTRAINT [FK_PBCK4_USER1] FOREIGN KEY([APPROVED_BY_MANAGER])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK4] CHECK CONSTRAINT [FK_PBCK4_USER1]
GO
ALTER TABLE [dbo].[PBCK4_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_PBCK4_DOCUMENT_PBCK4] FOREIGN KEY([PBCK4_ID])
REFERENCES [dbo].[PBCK4] ([PBCK4_ID])
GO
ALTER TABLE [dbo].[PBCK4_DOCUMENT] CHECK CONSTRAINT [FK_PBCK4_DOCUMENT_PBCK4]
GO
ALTER TABLE [dbo].[PBCK4_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_PBCK4_ITEM_PBCK4] FOREIGN KEY([PBCK4_ID])
REFERENCES [dbo].[PBCK4] ([PBCK4_ID])
GO
ALTER TABLE [dbo].[PBCK4_ITEM] CHECK CONSTRAINT [FK_PBCK4_ITEM_PBCK4]
GO
