/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.MONTH_CLOSING
	(
	MONTH_CLOSING_ID bigint NOT NULL IDENTITY (1, 1),
	PLANT_ID nvarchar(4) NULL,
	CLOSING_DATE datetime NULL,
	MONTH_FLAG nvarchar(6) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.MONTH_CLOSING ADD CONSTRAINT
	PK_MONTH_CLOSING PRIMARY KEY CLUSTERED 
	(
	MONTH_CLOSING_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.MONTH_CLOSING SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
