/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MONTH_CLOSING
	DROP CONSTRAINT FK_MONTH_CLOSING_T001W
GO
ALTER TABLE dbo.T001W SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_MONTH_CLOSING
	(
	MONTH_CLOSING_ID bigint NOT NULL IDENTITY (1, 1),
	PLANT_ID nvarchar(4) NOT NULL,
	CLOSING_DATE datetime NULL,
	MONTH_FLAG nvarchar(6) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_MONTH_CLOSING SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_MONTH_CLOSING ON
GO
IF EXISTS(SELECT * FROM dbo.MONTH_CLOSING)
	 EXEC('INSERT INTO dbo.Tmp_MONTH_CLOSING (MONTH_CLOSING_ID, PLANT_ID, CLOSING_DATE, MONTH_FLAG)
		SELECT MONTH_CLOSING_ID, PLANT_ID, CLOSING_DATE, MONTH_FLAG FROM dbo.MONTH_CLOSING WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_MONTH_CLOSING OFF
GO
DROP TABLE dbo.MONTH_CLOSING
GO
EXECUTE sp_rename N'dbo.Tmp_MONTH_CLOSING', N'MONTH_CLOSING', 'OBJECT' 
GO
ALTER TABLE dbo.MONTH_CLOSING ADD CONSTRAINT
	PK_MONTH_CLOSING PRIMARY KEY CLUSTERED 
	(
	MONTH_CLOSING_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.MONTH_CLOSING ADD CONSTRAINT
	FK_MONTH_CLOSING_T001W FOREIGN KEY
	(
	PLANT_ID
	) REFERENCES dbo.T001W
	(
	WERKS
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT