/* CROSS-SITE VARIABLES */

/* Site Colors (Font Colors & Site Elements) */

/* main color */
$mainColor:#00a3e0;
$lightMain:#c5473f;
$darkMain:#0187b9;
$darkMainHover:#a03029;
$VeryLightMain:#d8615a;
$green:#61d254;
$pink:#f06887;

$colorFont:#ffffff;
$colorFontLight:#666666;
$colorFontBlack:#30333a;

$dark:#344e67;
$mainDark:#416281;
$lightDark:#4c4241;
$veryLightDark:#685d5c;
$transDark:rgba(0, 0, 0, 0.2);

$black:#000;
$blackGrey:#525252;
$darkGrey:#b5a492;
$mediumGrey:#84878c;
$regularGrey:#d2d2d2;
$lightGrey:#e2e2e2;
$lightGreySec:#ececec;
$whiteGrey:#f5f5f5;
$white:#fff;


/* Site Fonts */
$montRegular: 'montserratregular', sans-serif;
$montBold: 'montserratbold', sans-serif;
$openSans: 'opensansregular';
$openSansSemi: 'opensanssemibold';
$arial:Arial, sans-serif;