@using System.Web.Mvc.Html
@model Sampoerna.EMS.Website.Models.Material.MaterialCreateViewModel
<div class="modal fade in upload-file ems-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Edit Convertion List </h4>
            </div>
            <div class="modal-body form-excise">

                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <label class="col-md-4">Converted UOM<span class="red">*</span></label>
                            <div class="col-md-8">
                                @Html.HiddenFor(model => model.MaterialNumber, new { id = "ddlkey" })
                                @Html.DropDownListFor(model => model.Conversion_UOM, Model.Conversion_UOM, "select", new { @class = "form-control", id = "ddlConversion_UOM" })
                                @*@Html.ValidationMessageFor(model => model.Convertion)*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <label class="col-md-4">Convertion<span class="red">*</span></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ConversionValueStr, new { @class = "decimal form-control", id = "ddlConversion" })
                                @*@Html.ValidationMessageFor(model => model.Convertion)*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <span class="red">*</span> ) This Field Required
                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-blue" value="Save" id="btnsave" />
                <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            window.location.reload();
        });
        
    </script>
}




