@model IEnumerable<Sampoerna.EMS.Website.Models.CompanyViewModel>

@{
    ViewBag.Title = "Index";

}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="../../Scripts/DataTables-1.10.7/media/css/jquery.dataTables.css">
    <script type="text/javascript" language="javascript" src="../../Scripts/DataTables-1.10.7/media/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="../../Scripts/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    @*<script type="text/javascript" src="../../Scripts/colReorderWithResize.js"></script>*@

    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function() {
            $('#mydata').DataTable(
                {
                    "sDom": "Rlfrtip"
                });
        });
    </script>
}
<h2>View Data Company</h2>
    <table id="mydata" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product type</th>
                <th>Product Price</th>
                <th>Product Details</th>
           
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Product Price</th>
                <th>Product Details</th>
              
            </tr>
        </tfoot>

        <tbody>

@foreach (var item in Model)
{
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.CompanyId)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.DocumentBukrs)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.DocumentBukrstxt)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.CreatedDate)
    </td>

    </tr>
}
        </tbody>
</table>
