@{
    ViewBag.Title = "Create";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>User Group Form</h3>
            <div class="action-button">
                <button class="btn btn-blue">Save</button>
                <button class="btn btn-grey">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                <div class="scroll">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        User Group
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <form class="form-excise" role="form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">BRole</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control">
                                                            <option>BRole</option>
                                                            <option>3067</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Description</label>
                                                    <div class="col-md-8">
                                                        <textarea class="form-control" rows="5" id="comment" disabled></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Page</label>
                                                    <div class="col-md-8">
                                                        <div class="page-role">
                                                            <div>
                                                                <input type="checkbox"> Page 1
                                                            </div>
                                                            <div>
                                                                <input type="checkbox"> Page 2
                                                            </div>
                                                            <div>
                                                                <input type="checkbox"> Page 3
                                                            </div>
                                                            <div>
                                                                <input type="checkbox"> Page 4
                                                            </div>
                                                            <div>
                                                                <input type="checkbox"> Page 5
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-container">
                        <table class="table table-bordered table-striped js-options-table">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


