USE [EMS-DEV2]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] DROP CONSTRAINT [FK_ZAIDM_EX_NPPBKC_ZAIDM_EX_KPPBC]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] DROP CONSTRAINT [FK_ZAIDM_EX_NPPBKC_T0011]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] DROP CONSTRAINT [FK_ZAIDM_EX_NPPBKC_T001]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] DROP CONSTRAINT [FK_ZAIDM_EX_NPPBKC_MODIFIED_DATE_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] DROP CONSTRAINT [FK_ZAIDM_EX_NPPBKC_LFA1]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] DROP CONSTRAINT [FK_ZAIDM_EX_MATERIAL_ZAIDM_EX_GOODTYP]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] DROP CONSTRAINT [FK_ZAIDM_EX_MATERIAL_UOM]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] DROP CONSTRAINT [FK_ZAIDM_EX_MATERIAL_T001W]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] DROP CONSTRAINT [FK_ZAIDM_EX_MATERIAL_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] DROP CONSTRAINT [FK_ZAIDM_EX_MATERIAL_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_SERIES]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_PRODTYP]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_PCODE]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_MARKET]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_GOODTYP]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [FK_ZAIDM_EX_BRAND_T001W]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [FK_ZAIDM_EX_BRAND_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [FK_ZAIDM_EX_BRAND_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[WORKFLOW_HISTORY] DROP CONSTRAINT [FK_WORKFLOW_HISTORY_USER]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] DROP CONSTRAINT [FK_VIRTUAL_PLANT_MAP_T001]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] DROP CONSTRAINT [FK_VIRTUAL_PLANT_MAP_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] DROP CONSTRAINT [FK_VIRTUAL_PLANT_MAP_IMPORT_PLANT]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] DROP CONSTRAINT [FK_VIRTUAL_PLANT_MAP_EXPORT_PLANT]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] DROP CONSTRAINT [FK_VIRTUAL_PLANT_MAP_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[USER] DROP CONSTRAINT [FK_USER_USER_GROUP]
GO
ALTER TABLE [dbo].[UOM] DROP CONSTRAINT [FK_UOM_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[T001W] DROP CONSTRAINT [FK_T001W_ZAIDM_EX_NPPBKC]
GO
ALTER TABLE [dbo].[T001W] DROP CONSTRAINT [FK_T001W_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[T001K] DROP CONSTRAINT [FK_T001K_T1001]
GO
ALTER TABLE [dbo].[T001K] DROP CONSTRAINT [FK_T001K_T001]
GO
ALTER TABLE [dbo].[T001] DROP CONSTRAINT [FK_T001_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[POA_SK] DROP CONSTRAINT [FK_POA_SK_POA]
GO
ALTER TABLE [dbo].[POA_MAP] DROP CONSTRAINT [FK_POA_MAP_ZAIDM_EX_NPPBKC]
GO
ALTER TABLE [dbo].[POA_MAP] DROP CONSTRAINT [FK_POA_MAP_POA]
GO
ALTER TABLE [dbo].[POA_MAP] DROP CONSTRAINT [FK_POA_MAP_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[POA_MAP] DROP CONSTRAINT [FK_POA_MAP_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[POA] DROP CONSTRAINT [FK_POA_USER]
GO
ALTER TABLE [dbo].[POA] DROP CONSTRAINT [FK_POA_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[POA] DROP CONSTRAINT [FK_POA_LOGIN_AS_USER]
GO
ALTER TABLE [dbo].[POA] DROP CONSTRAINT [FK_POA_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[PLANT_RECEIVE_MATERIAL] DROP CONSTRAINT [FK_PLANT_RECEIVE_MATERIAL_ZAIDM_EX_GOODTYP]
GO
ALTER TABLE [dbo].[PLANT_RECEIVE_MATERIAL] DROP CONSTRAINT [FK_PLANT_RECEIVE_MATERIAL_T001W]
GO
ALTER TABLE [dbo].[PBCK1_PROD_PLAN] DROP CONSTRAINT [FK_PBCK1_PROD_PLAN_UOM]
GO
ALTER TABLE [dbo].[PBCK1_PROD_PLAN] DROP CONSTRAINT [FK_PBCK1_PROD_PLAN_PBCK1]
GO
ALTER TABLE [dbo].[PBCK1_PROD_PLAN] DROP CONSTRAINT [FK_PBCK1_PROD_PLAN_MONTH]
GO
ALTER TABLE [dbo].[PBCK1_PROD_CONVERTER] DROP CONSTRAINT [FK_PBCK1_PROD_CONVERTER_UOM]
GO
ALTER TABLE [dbo].[PBCK1_PROD_CONVERTER] DROP CONSTRAINT [FK_PBCK1_PROD_CONVERTER_PBCK1]
GO
ALTER TABLE [dbo].[PBCK1_DECREE_DOC] DROP CONSTRAINT [FK_PBCK1_DECREE_DOC_USER]
GO
ALTER TABLE [dbo].[PBCK1_DECREE_DOC] DROP CONSTRAINT [FK_PBCK1_DECREE_DOC_PBCK1]
GO
ALTER TABLE [dbo].[PBCK1] DROP CONSTRAINT [FK_PBCK1_SALDO_UOM]
GO
ALTER TABLE [dbo].[PBCK1] DROP CONSTRAINT [FK_PBCK1_REQUEST_UOM]
GO
ALTER TABLE [dbo].[PBCK1] DROP CONSTRAINT [FK_PBCK1_PBCK1]
GO
ALTER TABLE [dbo].[PBCK1] DROP CONSTRAINT [FK_PBCK1_MONTH]
GO
ALTER TABLE [dbo].[PBCK1] DROP CONSTRAINT [FK_PBCK1_LACK1_MONTH_FROM]
GO
ALTER TABLE [dbo].[PBCK1] DROP CONSTRAINT [FK_PBCK1_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[PBCK1] DROP CONSTRAINT [FK_PBCK1_APPROVED_BY_USER]
GO
ALTER TABLE [dbo].[PAGE_MAP] DROP CONSTRAINT [FK_PAGE_MAP_USER_GROUP]
GO
ALTER TABLE [dbo].[PAGE_MAP] DROP CONSTRAINT [FK_PAGE_MAP_PAGE]
GO
ALTER TABLE [dbo].[PAGE] DROP CONSTRAINT [FK_PAGE_PAGE]
GO
ALTER TABLE [dbo].[MATERIAL_UOM] DROP CONSTRAINT [FK_MATERIAL_UOM_ZAIDM_EX_MATERIAL]
GO
ALTER TABLE [dbo].[LACK1_ITEM] DROP CONSTRAINT [FK_LACK1_ITEM_LACK1]
GO
ALTER TABLE [dbo].[LACK1_DOCUMENT] DROP CONSTRAINT [FK_LACK1_DOCUMENT_LACK1]
GO
ALTER TABLE [dbo].[LACK1] DROP CONSTRAINT [FK_LACK1_WASTE_UOM]
GO
ALTER TABLE [dbo].[LACK1] DROP CONSTRAINT [FK_LACK1_USER_CREATED]
GO
ALTER TABLE [dbo].[LACK1] DROP CONSTRAINT [FK_LACK1_USER_APPROVED]
GO
ALTER TABLE [dbo].[LACK1] DROP CONSTRAINT [FK_LACK1_RETURN_UOM]
GO
ALTER TABLE [dbo].[LACK1] DROP CONSTRAINT [FK_LACK1_MONTH]
GO
ALTER TABLE [dbo].[HEADER_FOOTER_FORM_MAP] DROP CONSTRAINT [FK_HEADER_FOOTER_FORM_MAP_HEADER_FOOTER]
GO
ALTER TABLE [dbo].[HEADER_FOOTER] DROP CONSTRAINT [FK_HEADER_FOOTER_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[HEADER_FOOTER] DROP CONSTRAINT [FK_HEADER_FOOTER_HEADER_FOOTER]
GO
ALTER TABLE [dbo].[HEADER_FOOTER] DROP CONSTRAINT [FK_HEADER_FOOTER_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[EX_GROUP_TYPE_DETAILS] DROP CONSTRAINT [FK_EX_GROUP_TYPE_DETAILS_ZAIDM_EX_GOODTYP]
GO
ALTER TABLE [dbo].[EX_GROUP_TYPE_DETAILS] DROP CONSTRAINT [FK_EX_GROUP_TYPE_DETAILS_EX_GROUP_TYPE]
GO
ALTER TABLE [dbo].[DOC_NUMBER_SEQ] DROP CONSTRAINT [FK_DOC_NUMBER_SEQ_MONTH]
GO
ALTER TABLE [dbo].[CK5_MATERIAL] DROP CONSTRAINT [FK_CK5_MATERIAL_CK5]
GO
ALTER TABLE [dbo].[CK5] DROP CONSTRAINT [FK_CK5_UOM]
GO
ALTER TABLE [dbo].[CK5] DROP CONSTRAINT [FK_CK5_PBCK1]
GO
ALTER TABLE [dbo].[CK5] DROP CONSTRAINT [FK_CK5_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[CK5] DROP CONSTRAINT [FK_CK5_APPROVED_BY_USER]
GO
ALTER TABLE [dbo].[CHANGES_HISTORY] DROP CONSTRAINT [FK_CHANGES_HISTORY_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] DROP CONSTRAINT [DF_ZAIDM_EX_NPPBKC_IS_DELETED]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] DROP CONSTRAINT [DF_ZAIDM_EX_MATERIAL_IS_DELETED]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] DROP CONSTRAINT [DF_ZAIDM_EX_MATERIAL_IS_FROM_SAP]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [DF_ZAIDM_EX_BRAND_IS_DELETED]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] DROP CONSTRAINT [DF_ZAIDM_EX_BRAND_IS_FROM_SAP]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] DROP CONSTRAINT [DF_VIRTUAL_PLANT_MAP_IS_DELETED]
GO
ALTER TABLE [dbo].[USER] DROP CONSTRAINT [DF_USER_IS_ACTIVE]
GO
ALTER TABLE [dbo].[POA] DROP CONSTRAINT [DF_POA_IS_ACTIVE]
GO
ALTER TABLE [dbo].[HEADER_FOOTER] DROP CONSTRAINT [DF_HEADER_FOOTER_IS_DELETED]
GO
/****** Object:  Table [dbo].[ZAIDM_EX_SERIES]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[ZAIDM_EX_SERIES]
GO
/****** Object:  Table [dbo].[ZAIDM_EX_PRODTYP]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[ZAIDM_EX_PRODTYP]
GO
/****** Object:  Table [dbo].[ZAIDM_EX_PCODE]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[ZAIDM_EX_PCODE]
GO
/****** Object:  Table [dbo].[ZAIDM_EX_NPPBKC]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[ZAIDM_EX_NPPBKC]
GO
/****** Object:  Table [dbo].[ZAIDM_EX_MATERIAL]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[ZAIDM_EX_MATERIAL]
GO
/****** Object:  Table [dbo].[ZAIDM_EX_MARKET]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[ZAIDM_EX_MARKET]
GO
/****** Object:  Table [dbo].[ZAIDM_EX_KPPBC]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[ZAIDM_EX_KPPBC]
GO
/****** Object:  Table [dbo].[ZAIDM_EX_GOODTYP]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[ZAIDM_EX_GOODTYP]
GO
/****** Object:  Table [dbo].[ZAIDM_EX_BRAND]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[ZAIDM_EX_BRAND]
GO
/****** Object:  Table [dbo].[WORKFLOW_HISTORY]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[WORKFLOW_HISTORY]
GO
/****** Object:  Table [dbo].[VIRTUAL_PLANT_MAP]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[VIRTUAL_PLANT_MAP]
GO
/****** Object:  Table [dbo].[USER_GROUP]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[USER_GROUP]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[USER]
GO
/****** Object:  Table [dbo].[UOM]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[UOM]
GO
/****** Object:  Table [dbo].[T001W]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[T001W]
GO
/****** Object:  Table [dbo].[T001K]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[T001K]
GO
/****** Object:  Table [dbo].[T001]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[T001]
GO
/****** Object:  Table [dbo].[SUPPLIER_PORT]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[SUPPLIER_PORT]
GO
/****** Object:  Table [dbo].[REQUEST_TYPE]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[REQUEST_TYPE]
GO
/****** Object:  Table [dbo].[POA_SK]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[POA_SK]
GO
/****** Object:  Table [dbo].[POA_MAP]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[POA_MAP]
GO
/****** Object:  Table [dbo].[POA]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[POA]
GO
/****** Object:  Table [dbo].[PLANT_RECEIVE_MATERIAL]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[PLANT_RECEIVE_MATERIAL]
GO
/****** Object:  Table [dbo].[PBCK1_PROD_PLAN]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[PBCK1_PROD_PLAN]
GO
/****** Object:  Table [dbo].[PBCK1_PROD_CONVERTER]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[PBCK1_PROD_CONVERTER]
GO
/****** Object:  Table [dbo].[PBCK1_DECREE_DOC]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[PBCK1_DECREE_DOC]
GO
/****** Object:  Table [dbo].[PBCK1]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[PBCK1]
GO
/****** Object:  Table [dbo].[PARAMATER]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[PARAMATER]
GO
/****** Object:  Table [dbo].[PAGE_MAP]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[PAGE_MAP]
GO
/****** Object:  Table [dbo].[PAGE]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[PAGE]
GO
/****** Object:  Table [dbo].[MONTH]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[MONTH]
GO
/****** Object:  Table [dbo].[MENGETAHUI]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[MENGETAHUI]
GO
/****** Object:  Table [dbo].[MATERIAL_UOM]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[MATERIAL_UOM]
GO
/****** Object:  Table [dbo].[LFA1]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[LFA1]
GO
/****** Object:  Table [dbo].[LACK1_ITEM]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[LACK1_ITEM]
GO
/****** Object:  Table [dbo].[LACK1_DOCUMENT]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[LACK1_DOCUMENT]
GO
/****** Object:  Table [dbo].[LACK1]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[LACK1]
GO
/****** Object:  Table [dbo].[HEADER_FOOTER_FORM_MAP]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[HEADER_FOOTER_FORM_MAP]
GO
/****** Object:  Table [dbo].[HEADER_FOOTER]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[HEADER_FOOTER]
GO
/****** Object:  Table [dbo].[FILE_UPLOAD]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[FILE_UPLOAD]
GO
/****** Object:  Table [dbo].[EX_GROUP_TYPE_DETAILS]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[EX_GROUP_TYPE_DETAILS]
GO
/****** Object:  Table [dbo].[EX_GROUP_TYPE]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[EX_GROUP_TYPE]
GO
/****** Object:  Table [dbo].[EMAIL_TEMPLATE]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[EMAIL_TEMPLATE]
GO
/****** Object:  Table [dbo].[DOC_NUMBER_SEQ]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[DOC_NUMBER_SEQ]
GO
/****** Object:  Table [dbo].[CURRENCY]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[CURRENCY]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[COUNTRY]
GO
/****** Object:  Table [dbo].[CK5_MATERIAL]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[CK5_MATERIAL]
GO
/****** Object:  Table [dbo].[CK5]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[CK5]
GO
/****** Object:  Table [dbo].[CHANGES_HISTORY]    Script Date: 7/27/2015 4:46:24 PM ******/
DROP TABLE [dbo].[CHANGES_HISTORY]
GO
/****** Object:  Table [dbo].[CHANGES_HISTORY]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGES_HISTORY](
	[CHANGES_HISTORY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FORM_TYPE_ID] [int] NOT NULL,
	[FORM_ID] [nvarchar](50) NULL,
	[FIELD_NAME] [nvarchar](25) NULL,
	[OLD_VALUE] [nvarchar](255) NULL,
	[NEW_VALUE] [nvarchar](255) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_TABLE_HISTORY] PRIMARY KEY CLUSTERED 
(
	[CHANGES_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CK5]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CK5](
	[CK5_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CK5_TYPE] [int] NOT NULL,
	[KPPBC_CITY] [nvarchar](50) NOT NULL,
	[CE_OFFICE_CODE] [nvarchar](10) NOT NULL,
	[SUBMISSION_NUMBER] [nvarchar](30) NULL,
	[SUBMISSION_DATE] [datetime] NULL,
	[REGISTRATION_NUMBER] [nvarchar](30) NULL,
	[EX_GOODS_TYPE_DESC] [nvarchar](65) NULL,
	[EX_SETTLEMENT_ID] [int] NOT NULL,
	[EX_STATUS_ID] [int] NOT NULL,
	[REQUEST_TYPE_ID] [int] NOT NULL,
	[STO_SENDER_NUMBER] [nvarchar](50) NULL,
	[STO_RECEIVER_NUMBER] [nvarchar](50) NULL,
	[STOB_NUMBER] [nvarchar](50) NULL,
	[SOURCE_PLANT_ID] [nvarchar](4) NOT NULL,
	[DEST_PLANT_ID] [nvarchar](4) NOT NULL,
	[INVOICE_NUMBER] [nvarchar](50) NULL,
	[INVOICE_DATE] [datetime] NULL,
	[PBCK1_DECREE_ID] [int] NULL,
	[CARRIAGE_METHOD_ID] [int] NULL,
	[GRAND_TOTAL_EX] [numeric](18, 2) NULL,
	[PACKAGE_UOM_ID] [nvarchar](5) NULL,
	[DEST_COUNTRY_ID] [int] NULL,
	[HARBOUR] [nvarchar](50) NULL,
	[OFFICE_HARBOUR] [nvarchar](50) NULL,
	[LAST_SHELTER_HARBOUR] [nvarchar](50) NULL,
	[OFFICE_SHELTER] [nvarchar](50) NULL,
	[DN_NUMBER] [nvarchar](30) NULL,
	[GR_DATE] [datetime] NULL,
	[GI_DATE] [datetime] NULL,
	[SEALING_NOTIF_NUMBER] [nvarchar](50) NULL,
	[UNSEALING_NOTIF_NUMBER] [nvarchar](50) NULL,
	[SEALING_NOTIF_DATE] [datetime] NULL,
	[UNSEALING_NOTIF_DATE] [datetime] NULL,
	[LOADING_PORT] [nvarchar](50) NULL,
	[LOADING_PORT_NAME] [nvarchar](50) NULL,
	[LOADING_PORT_ID] [nvarchar](10) NULL,
	[FINAL_PORT] [nvarchar](50) NULL,
	[FINAL_PORT_ID] [nvarchar](10) NULL,
	[STATUS_ID] [int] NOT NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[APPROVED_BY] [nvarchar](50) NULL,
	[APPROVED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[SOURCE_PLANT_NPWP] [nvarchar](30) NULL,
	[SOURCE_PLANT_NPPBKC_ID] [nvarchar](15) NULL,
	[SOURCE_PLANT_COMPANY_NAME] [nvarchar](35) NULL,
	[SOURCE_PLANT_ADDRESS] [nvarchar](150) NULL,
	[SOURCE_PLANT_KPPBC_NAME_OFFICE] [nvarchar](150) NULL,
	[DEST_PLANT_NPWP] [nvarchar](30) NULL,
	[DEST_PLANT_NPPBKC_ID] [nvarchar](15) NULL,
	[DEST_PLANT_COMPANY_NAME] [nvarchar](35) NULL,
	[DEST_PLANT_ADDRESS] [nvarchar](150) NULL,
	[DEST_PLANT_KPPBC_NAME_OFFICE] [nvarchar](150) NULL,
	[REGISTRATION_DATE] [datetime] NULL,
	[DN_DATE] [datetime] NULL,
	[SOURCE_PLANT_NAME] [nvarchar](30) NULL,
	[DEST_PLANT_NAME] [nvarchar](30) NULL,
	[FINAL_PORT_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_CK5_DOMESTIC] PRIMARY KEY CLUSTERED 
(
	[CK5_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CK5_MATERIAL]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CK5_MATERIAL](
	[CK5_MATERIAL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CK5_ID] [bigint] NULL,
	[MATERIAL_ID] [bigint] NULL,
	[LINE_ITEM] [int] NULL,
	[QTY] [numeric](18, 0) NULL,
	[CONVERTED_QTY] [numeric](18, 0) NULL,
	[CONVERTED_UOM_ID] [int] NULL,
	[BRAND] [varchar](50) NULL,
	[PLANT_ID] [nvarchar](4) NULL,
	[UOM] [varchar](50) NULL,
	[CONVERTION] [numeric](18, 2) NULL,
	[HJE] [numeric](18, 2) NULL,
	[TARIFF] [numeric](18, 2) NULL,
	[EXCISE_VALUE] [numeric](18, 2) NULL,
	[USD_VALUE] [numeric](18, 2) NULL,
	[NOTE] [varchar](100) NULL,
	[CONVERTED_UOM] [varchar](50) NULL,
 CONSTRAINT [PK_CK5_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[CK5_MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_CODE] [nvarchar](5) NULL,
	[COUNTRY_NAME] [nvarchar](30) NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CURRENCY]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY](
	[CURRENCY_ID] [int] NOT NULL,
	[CURRENCY_CODE] [nvarchar](5) NULL,
 CONSTRAINT [PK_CURRENCY] PRIMARY KEY CLUSTERED 
(
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOC_NUMBER_SEQ]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_NUMBER_SEQ](
	[DOC_NUMBER_SEQ_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOC_NUMBER_SEQ_LAST] [bigint] NOT NULL,
	[MONTH] [int] NULL,
	[YEAR] [int] NULL,
 CONSTRAINT [PK_DOC_NUMBER_SEQ] PRIMARY KEY CLUSTERED 
(
	[DOC_NUMBER_SEQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMAIL_TEMPLATE]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_TEMPLATE](
	[EMAIL_TEMPLATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TEMPLATE_NAME] [nvarchar](50) NULL,
	[SUBJECT] [nvarchar](50) NULL,
	[BODY] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_EMAIL_TEMPLATE] PRIMARY KEY CLUSTERED 
(
	[EMAIL_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EX_GROUP_TYPE]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EX_GROUP_TYPE](
	[EX_GROUP_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_EX_GROUP_TYPE] PRIMARY KEY CLUSTERED 
(
	[EX_GROUP_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EX_GROUP_TYPE_DETAILS]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EX_GROUP_TYPE_DETAILS](
	[EX_GROUP_TYPE_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[EX_GROUP_TYPE_ID] [int] NULL,
	[GOODTYPE_ID] [nvarchar](2) NULL,
 CONSTRAINT [PK_EX_GROUP_TYPE_DETAILS] PRIMARY KEY CLUSTERED 
(
	[EX_GROUP_TYPE_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FILE_UPLOAD]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_UPLOAD](
	[FILE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FORM_TYEP_ID] [int] NOT NULL,
	[FORM_NO] [nvarchar](30) NULL,
	[FILE_NAME] [nvarchar](100) NULL,
	[UPLOAD_DATE] [datetime] NULL,
 CONSTRAINT [PK_FILE_UPLOAD] PRIMARY KEY CLUSTERED 
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HEADER_FOOTER]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEADER_FOOTER](
	[HEADER_FOOTER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FORM_NAME] [nvarchar](50) NULL,
	[BUKRS] [nvarchar](4) NOT NULL,
	[HEADER_IMAGE_PATH] [nvarchar](150) NULL,
	[FOOTER_CONTENT] [nvarchar](max) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_HEADER_FOOTER] PRIMARY KEY CLUSTERED 
(
	[HEADER_FOOTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HEADER_FOOTER_FORM_MAP]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEADER_FOOTER_FORM_MAP](
	[HEADER_FOOTER_FORM_MAP_ID] [int] IDENTITY(1,1) NOT NULL,
	[HEADER_FOOTER_ID] [int] NOT NULL,
	[FORM_TYPE_ID] [int] NULL,
	[IS_HEADER_SET] [bit] NULL,
	[IS_FOOTER_SET] [bit] NULL,
 CONSTRAINT [PK_HEADER_FOOTER_FORM_MAP] PRIMARY KEY CLUSTERED 
(
	[HEADER_FOOTER_FORM_MAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1](
	[LACK1_ID] [int] IDENTITY(1,1) NOT NULL,
	[LACK1_NUMBER] [nvarchar](35) NULL,
	[BUKRS] [nvarchar](4) NULL,
	[BUTXT] [nvarchar](35) NULL,
	[PERIOD_MONTH] [int] NULL,
	[PERIOD_YEAR] [int] NULL,
	[LEVEL_PLANT_ID] [nvarchar](4) NULL,
	[LEVEL_PLANT_NAME] [nvarchar](30) NULL,
	[SUBMISSION_DATE] [datetime] NULL,
	[SUPPLIER_PLANT] [nvarchar](70) NULL,
	[EX_GOODTYP] [nvarchar](2) NULL,
	[EX_TYP_DESC] [nvarchar](65) NULL,
	[WASTE_QTY] [decimal](15, 2) NULL,
	[WASTE_UOM] [nvarchar](5) NULL,
	[RETURN_QTY] [decimal](15, 2) NULL,
	[RETURN_UOM] [nvarchar](5) NULL,
	[STATUS] [int] NULL,
	[GOV_STATUS] [int] NULL,
	[DECREE_DATE] [datetime] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[APPROVED_BY] [nvarchar](50) NULL,
	[APPROVED_DATE] [datetime] NULL,
	[NPPBKC_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_LACK1] PRIMARY KEY CLUSTERED 
(
	[LACK1_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1_DOCUMENT]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_DOCUMENT](
	[LACK1_DOCUMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[FILE_NAME] [nvarchar](50) NULL,
	[FILE_PATH] [nvarchar](250) NULL,
 CONSTRAINT [PK_LACK1_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[LACK1_DOCUMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1_ITEM]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_ITEM](
	[LACK1_ITEM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[BEGINNING_BALANCE] [decimal](15, 2) NULL,
	[INCOME] [decimal](15, 2) NULL,
	[USAGE] [decimal](18, 2) NULL,
	[PRODUCTION] [decimal](18, 2) NULL,
 CONSTRAINT [PK_LACK1_ITEM] PRIMARY KEY CLUSTERED 
(
	[LACK1_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LFA1]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LFA1](
	[LIFNR] [nvarchar](10) NOT NULL,
	[NAME1] [nvarchar](35) NOT NULL,
	[NAME2] [nvarchar](35) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_LFA1] PRIMARY KEY CLUSTERED 
(
	[LIFNR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATERIAL_UOM]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL_UOM](
	[MATERIAL_UOM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STICKER_CODE] [nvarchar](18) NOT NULL,
	[WERKS] [nvarchar](4) NOT NULL,
	[MEINH] [nvarchar](10) NULL,
	[UMREZ] [numeric](18, 2) NULL,
	[UMREN] [numeric](18, 2) NULL,
 CONSTRAINT [PK_MATERIAL_UOM] PRIMARY KEY CLUSTERED 
(
	[MATERIAL_UOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MENGETAHUI]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENGETAHUI](
	[MENGETAHUI_ID] [int] IDENTITY(1,1) NOT NULL,
	[MENGETAHUI_CODE] [nvarchar](30) NOT NULL,
	[MENGETAHUI_DESC] [nvarchar](150) NULL,
 CONSTRAINT [PK_MENGETAHUI] PRIMARY KEY CLUSTERED 
(
	[MENGETAHUI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONTH]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTH](
	[MONTH_ID] [int] NOT NULL,
	[MONTH_NAME_IND] [nvarchar](15) NULL,
	[MONTH_NAME_ENG] [nvarchar](15) NULL,
 CONSTRAINT [PK_MONTH] PRIMARY KEY CLUSTERED 
(
	[MONTH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAGE]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGE](
	[PAGE_ID] [int] NOT NULL,
	[PAGE_NAME] [nvarchar](50) NULL,
	[PAGE_URL] [nvarchar](100) NULL,
	[MENU_NAME] [nvarchar](50) NULL,
	[PARENT_PAGE_ID] [int] NULL,
 CONSTRAINT [PK_PAGE] PRIMARY KEY CLUSTERED 
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAGE_MAP]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGE_MAP](
	[PAGE_MAP_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAGE_ID] [int] NULL,
	[USER_GROUP_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_PAGE_MAP] PRIMARY KEY CLUSTERED 
(
	[PAGE_MAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARAMATER]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMATER](
	[PARAMETER_ID] [int] IDENTITY(1,1) NOT NULL,
	[PARAMETER_CODE] [int] NULL,
	[PARAMETER_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_PARAMATER] PRIMARY KEY CLUSTERED 
(
	[PARAMETER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PBCK1]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBCK1](
	[PBCK1_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER] [nvarchar](25) NOT NULL,
	[PBCK1_REF] [int] NULL,
	[PBCK1_TYPE] [int] NOT NULL,
	[PERIOD_FROM] [datetime] NULL,
	[PERIOD_TO] [datetime] NULL,
	[REPORTED_ON] [datetime] NULL,
	[NPPBKC_ID] [nvarchar](15) NULL,
	[NPPBKC_BUKRS] [nvarchar](4) NULL,
	[NPPBCK_BUTXT] [nvarchar](35) NULL,
	[EXC_GOOD_TYP] [nvarchar](2) NULL,
	[EXC_TYP_DESC] [nvarchar](65) NULL,
	[SUPPLIER_PLANT] [nvarchar](70) NOT NULL,
	[SUPPLIER_PORT_ID] [int] NULL,
	[SUPPLIER_ADDRESS] [nvarchar](50) NULL,
	[SUPPLIER_PHONE] [nvarchar](15) NULL,
	[PLAN_PROD_FROM] [datetime] NULL,
	[PLAN_PROD_TO] [datetime] NULL,
	[REQUEST_QTY] [numeric](18, 2) NULL,
	[REQUEST_QTY_UOM] [nvarchar](5) NULL,
	[LATEST_SALDO] [numeric](18, 2) NULL,
	[LATEST_SALDO_UOM] [nvarchar](5) NULL,
	[LACK1_FROM_MONTH] [int] NULL,
	[LACK1_FROM_YEAR] [int] NULL,
	[LACK1_TO_MONTH] [int] NULL,
	[LACK1_TO_YEAR] [int] NULL,
	[STATUS] [int] NOT NULL,
	[STATUS_GOV] [int] NULL,
	[QTY_APPROVED] [numeric](18, 0) NULL,
	[DECREE_DATE] [datetime] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[APPROVED_BY] [nvarchar](50) NULL,
	[APPROVED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[SUPPLIER_PORT_NAME] [nvarchar](50) NULL,
	[SUPPLIER_NPPBKC_ID] [nvarchar](15) NULL,
	[SUPPLIER_KPPBC_ID] [nvarchar](10) NULL,
	[SUPPLIER_PLANT_WERKS] [nvarchar](4) NULL,
 CONSTRAINT [PK_NUMBER] PRIMARY KEY CLUSTERED 
(
	[PBCK1_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PBCK1_DECREE_DOC]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBCK1_DECREE_DOC](
	[PBCK1_DECREE_DOC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PBCK1_ID] [int] NOT NULL,
	[FILE_NAME] [nvarchar](50) NOT NULL,
	[FILE_PATH] [nvarchar](250) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PBCK1_DECREE_DOC] PRIMARY KEY CLUSTERED 
(
	[PBCK1_DECREE_DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PBCK1_PROD_CONVERTER]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBCK1_PROD_CONVERTER](
	[PBCK1_PROD_COV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PBCK1_ID] [int] NULL,
	[PROD_CODE] [nvarchar](2) NULL,
	[PRODUCT_TYPE] [nvarchar](35) NULL,
	[PRODUCT_ALIAS] [nvarchar](35) NULL,
	[CONVERTER_OUTPUT] [numeric](18, 2) NULL,
	[CONVERTER_UOM_ID] [nvarchar](5) NULL,
 CONSTRAINT [PK_PBCK1_ITEM] PRIMARY KEY CLUSTERED 
(
	[PBCK1_PROD_COV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PBCK1_PROD_PLAN]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBCK1_PROD_PLAN](
	[PBCK1_PROD_PLAN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PBCK1_ID] [int] NULL,
	[PROD_CODE] [nvarchar](2) NULL,
	[PRODUCT_TYPE] [nvarchar](35) NULL,
	[PRODUCT_ALIAS] [nvarchar](35) NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[BKC_REQUIRED] [decimal](18, 2) NULL,
	[MONTH] [int] NULL,
	[BKC_REQUIRED_UOM_ID] [nvarchar](5) NULL,
 CONSTRAINT [PK_PBCK1_PROD_PLAN] PRIMARY KEY CLUSTERED 
(
	[PBCK1_PROD_PLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLANT_RECEIVE_MATERIAL]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANT_RECEIVE_MATERIAL](
	[PLANT_MATERIAL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLANT_ID] [nvarchar](4) NULL,
	[EXC_GOOD_TYP] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_PLANT_RECEIVE_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[PLANT_MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POA]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POA](
	[POA_ID] [nvarchar](50) NOT NULL,
	[ID_CARD] [nvarchar](22) NOT NULL,
	[POA_PHONE] [nvarchar](25) NOT NULL,
	[POA_ADDRESS] [nvarchar](200) NOT NULL,
	[POA_EMAIL] [nvarchar](50) NOT NULL,
	[PRINTED_NAME] [nvarchar](50) NOT NULL,
	[TITLE] [nvarchar](35) NOT NULL,
	[LOGIN_AS] [nvarchar](50) NOT NULL,
	[MANAGER_ID] [nvarchar](50) NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK_POA] PRIMARY KEY CLUSTERED 
(
	[POA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POA_MAP]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POA_MAP](
	[POA_MAP_ID] [int] IDENTITY(1,1) NOT NULL,
	[NPPBKC_ID] [nvarchar](15) NOT NULL,
	[WERKS] [nvarchar](4) NOT NULL,
	[POA_ID] [nvarchar](50) NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_POA_MAP] PRIMARY KEY CLUSTERED 
(
	[POA_MAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POA_SK]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POA_SK](
	[POA_SK_ID] [int] IDENTITY(1,1) NOT NULL,
	[POA_ID] [nvarchar](50) NOT NULL,
	[FILE_NAME] [nvarchar](50) NOT NULL,
	[FILE_PATH] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_POA_SK] PRIMARY KEY CLUSTERED 
(
	[POA_SK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REQUEST_TYPE]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST_TYPE](
	[REQUEST_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[REQUEST_TYPE_NAME] [nvarchar](50) NULL,
	[REQUEST_TYPE_PARENT] [int] NULL,
 CONSTRAINT [PK_REQUEST_TYPE] PRIMARY KEY CLUSTERED 
(
	[REQUEST_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUPPLIER_PORT]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER_PORT](
	[SUPPLIER_PORT_ID] [int] NOT NULL,
	[PORT_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_SUPPLIER_PORT] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T001]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T001](
	[BUKRS] [nvarchar](4) NOT NULL,
	[BUTXT] [nvarchar](35) NOT NULL,
	[NPWP] [nvarchar](30) NULL,
	[ORT01] [nvarchar](25) NULL,
	[SPRAS] [nvarchar](150) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_T1001] PRIMARY KEY CLUSTERED 
(
	[BUKRS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T001K]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T001K](
	[BWKEY] [nvarchar](4) NOT NULL,
	[BUKRS] [nvarchar](4) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_T001K] PRIMARY KEY CLUSTERED 
(
	[BWKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T001W]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T001W](
	[WERKS] [nvarchar](4) NOT NULL,
	[NAME1] [nvarchar](30) NULL,
	[ORT01] [nvarchar](25) NULL,
	[PHONE] [nvarchar](25) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[SKEPTIS] [nvarchar](50) NULL,
	[NPPBKC_ID] [nvarchar](15) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[IS_MAIN_PLANT] [bit] NULL,
 CONSTRAINT [PK_T001W] PRIMARY KEY CLUSTERED 
(
	[WERKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UOM]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UOM](
	[UOM_ID] [nvarchar](5) NOT NULL,
	[UOM_DESC] [nvarchar](15) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_UOM] PRIMARY KEY CLUSTERED 
(
	[UOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[PHONE] [nvarchar](25) NULL,
	[EMAIL] [nvarchar](35) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[USER_GROUP_ID] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_GROUP]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_GROUP](
	[USER_GROUP_ID] [nvarchar](50) NOT NULL,
	[GROUP_DESCRIPTION] [nvarchar](150) NULL,
	[ROLE_NAME] [nvarchar](35) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_USER_GROUP] PRIMARY KEY CLUSTERED 
(
	[USER_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VIRTUAL_PLANT_MAP]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIRTUAL_PLANT_MAP](
	[VIRTUAL_PLANT_MAP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [nvarchar](4) NOT NULL,
	[IMPORT_PLANT_ID] [nvarchar](4) NOT NULL,
	[EXPORT_PLANT_ID] [nvarchar](4) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_VIRTUAL_PLAN_MAP] PRIMARY KEY CLUSTERED 
(
	[VIRTUAL_PLANT_MAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WORKFLOW_HISTORY]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKFLOW_HISTORY](
	[WORKFLOW_HISTORY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FORM_TYPE_ID] [int] NOT NULL,
	[FORM_ID] [bigint] NOT NULL,
	[FORM_NUMBER] [nvarchar](30) NULL,
	[ACTION] [int] NOT NULL,
	[ACTION_BY] [nvarchar](50) NOT NULL,
	[ACTION_DATE] [datetime] NULL,
	[COMMENT] [nvarchar](50) NULL,
	[ROLE] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[WORKFLOW_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZAIDM_EX_BRAND]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAIDM_EX_BRAND](
	[WERKS] [nvarchar](4) NOT NULL,
	[FA_CODE] [nvarchar](18) NOT NULL,
	[STICKER_CODE] [nvarchar](18) NULL,
	[PER_CODE] [nvarchar](2) NOT NULL,
	[BRAND_CE] [nvarchar](65) NOT NULL,
	[SKEP_NO] [nvarchar](30) NULL,
	[SKEP_DATE] [datetime] NULL,
	[PROD_CODE] [nvarchar](2) NOT NULL,
	[SERIES_CODE] [nvarchar](2) NOT NULL,
	[BRAND_CONTENT] [nvarchar](4) NULL,
	[MARKET_ID] [nvarchar](2) NULL,
	[COUNTRY] [nvarchar](3) NULL,
	[HJE_IDR] [numeric](15, 2) NULL,
	[HJE_CURR] [nvarchar](5) NULL,
	[TARIFF] [numeric](15, 0) NULL,
	[TARIF_CURR] [nvarchar](5) NULL,
	[COLOUR] [nvarchar](70) NULL,
	[EXC_GOOD_TYP] [nvarchar](2) NULL,
	[CUT_FILLER_CODE] [nvarchar](30) NULL,
	[PRINTING_PRICE] [numeric](15, 2) NULL,
	[CONVERSION] [numeric](15, 2) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[STATUS] [bit] NULL,
	[IS_FROM_SAP] [bit] NULL,
	[IS_DELETED] [bit] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_ZAIDM_EX_BRAND] PRIMARY KEY CLUSTERED 
(
	[WERKS] ASC,
	[FA_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZAIDM_EX_GOODTYP]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAIDM_EX_GOODTYP](
	[EXC_GOOD_TYP] [nvarchar](2) NOT NULL,
	[EXT_TYP_DESC] [nvarchar](65) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_ZAIDM_EX_GOODTYP] PRIMARY KEY CLUSTERED 
(
	[EXC_GOOD_TYP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZAIDM_EX_KPPBC]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAIDM_EX_KPPBC](
	[KPPBC_ID] [nvarchar](10) NOT NULL,
	[KPPBC_TYPE] [nvarchar](30) NULL,
	[MENGETAHUI] [nvarchar](70) NULL,
	[CK1_KEP_HEADER] [nvarchar](100) NULL,
	[CK1_KEP_FOOTER] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_ZAIDM_EX_KPPBC] PRIMARY KEY CLUSTERED 
(
	[KPPBC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZAIDM_EX_MARKET]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAIDM_EX_MARKET](
	[MARKET_ID] [nvarchar](2) NOT NULL,
	[MARKET_DESC] [nvarchar](10) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_ZAIDM_EX_MARKET] PRIMARY KEY CLUSTERED 
(
	[MARKET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZAIDM_EX_MATERIAL]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAIDM_EX_MATERIAL](
	[STICKER_CODE] [nvarchar](18) NOT NULL,
	[MATERIAL_DESC] [nvarchar](50) NOT NULL,
	[MATERIAL_GROUP] [nvarchar](35) NULL,
	[PURCHASING_GROUP] [nvarchar](35) NULL,
	[WERKS] [nvarchar](4) NOT NULL,
	[EXC_GOOD_TYP] [nvarchar](2) NOT NULL,
	[ISSUE_STORANGE_LOC] [nvarchar](50) NOT NULL,
	[BASE_UOM_ID] [nvarchar](5) NOT NULL,
	[IS_FROM_SAP] [bit] NOT NULL,
	[IS_DELETED] [bit] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_ZAIDM_EX_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[STICKER_CODE] ASC,
	[WERKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZAIDM_EX_NPPBKC]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAIDM_EX_NPPBKC](
	[NPPBKC_ID] [nvarchar](15) NOT NULL,
	[ADDR1] [nvarchar](50) NULL,
	[ADDR2] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[CITY_ALIAS] [nvarchar](10) NULL,
	[KPPBC_ID] [nvarchar](10) NULL,
	[REGION] [nvarchar](20) NULL,
	[REGION_DGCE] [nvarchar](20) NULL,
	[VENDOR_ID] [nvarchar](10) NULL,
	[BUKRS] [nvarchar](4) NULL,
	[TEXT_TO] [nvarchar](50) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_ZAIDM_EX_NPPBKC] PRIMARY KEY CLUSTERED 
(
	[NPPBKC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZAIDM_EX_PCODE]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAIDM_EX_PCODE](
	[PER_CODE] [nvarchar](2) NOT NULL,
	[PER_DESC] [nvarchar](30) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_ZAIDM_EX_PCODE] PRIMARY KEY CLUSTERED 
(
	[PER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZAIDM_EX_PRODTYP]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAIDM_EX_PRODTYP](
	[PROD_CODE] [nvarchar](2) NOT NULL,
	[PRODUCT_TYPE] [nvarchar](35) NULL,
	[PRODUCT_ALIAS] [nvarchar](35) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_ZAIDM_EX_PRODTYP] PRIMARY KEY CLUSTERED 
(
	[PROD_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZAIDM_EX_SERIES]    Script Date: 7/27/2015 4:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAIDM_EX_SERIES](
	[SERIES_CODE] [nvarchar](2) NOT NULL,
	[SERIES_VALUE] [nvarchar](4) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_ZAIDM_EX_SERIES] PRIMARY KEY CLUSTERED 
(
	[SERIES_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CHANGES_HISTORY] ON 

GO
INSERT [dbo].[CHANGES_HISTORY] ([CHANGES_HISTORY_ID], [FORM_TYPE_ID], [FORM_ID], [FIELD_NAME], [OLD_VALUE], [NEW_VALUE], [MODIFIED_DATE], [MODIFIED_BY]) VALUES (29, 23, N'2', N'COMPANY_ID', N'1670', N'3066', CAST(0x0000A4CC01564231 AS DateTime), N'0000000001')
GO
INSERT [dbo].[CHANGES_HISTORY] ([CHANGES_HISTORY_ID], [FORM_TYPE_ID], [FORM_ID], [FIELD_NAME], [OLD_VALUE], [NEW_VALUE], [MODIFIED_DATE], [MODIFIED_BY]) VALUES (30, 23, N'2', N'EXPORT_PLANT', N'ID20', N'ID22', CAST(0x0000A4CC015643EB AS DateTime), N'0000000001')
GO
INSERT [dbo].[CHANGES_HISTORY] ([CHANGES_HISTORY_ID], [FORM_TYPE_ID], [FORM_ID], [FIELD_NAME], [OLD_VALUE], [NEW_VALUE], [MODIFIED_DATE], [MODIFIED_BY]) VALUES (31, 23, N'2', N'IMPORT_PLANT', N'ID22', N'ID20', CAST(0x0000A4CC0156453C AS DateTime), N'0000000001')
GO
SET IDENTITY_INSERT [dbo].[CHANGES_HISTORY] OFF
GO
SET IDENTITY_INSERT [dbo].[EX_GROUP_TYPE] ON 

GO
INSERT [dbo].[EX_GROUP_TYPE] ([EX_GROUP_TYPE_ID], [GROUP_NAME]) VALUES (5, N'xxx')
GO
INSERT [dbo].[EX_GROUP_TYPE] ([EX_GROUP_TYPE_ID], [GROUP_NAME]) VALUES (6, N'yyy')
GO
INSERT [dbo].[EX_GROUP_TYPE] ([EX_GROUP_TYPE_ID], [GROUP_NAME]) VALUES (7, N'yyy')
GO
SET IDENTITY_INSERT [dbo].[EX_GROUP_TYPE] OFF
GO
INSERT [dbo].[MONTH] ([MONTH_ID], [MONTH_NAME_IND], [MONTH_NAME_ENG]) VALUES (1, N'Januari', N'January')
GO
INSERT [dbo].[MONTH] ([MONTH_ID], [MONTH_NAME_IND], [MONTH_NAME_ENG]) VALUES (2, N'Februari', N'February')
GO
INSERT [dbo].[MONTH] ([MONTH_ID], [MONTH_NAME_IND], [MONTH_NAME_ENG]) VALUES (3, N'Maret', N'March')
GO
INSERT [dbo].[PAGE] ([PAGE_ID], [PAGE_NAME], [PAGE_URL], [MENU_NAME], [PARENT_PAGE_ID]) VALUES (1, N'Home', N'~/Home', N'Home', NULL)
GO
INSERT [dbo].[PAGE] ([PAGE_ID], [PAGE_NAME], [PAGE_URL], [MENU_NAME], [PARENT_PAGE_ID]) VALUES (2, N'MasterData', N'~/Home', N'Master Data', 1)
GO
INSERT [dbo].[PAGE] ([PAGE_ID], [PAGE_NAME], [PAGE_URL], [MENU_NAME], [PARENT_PAGE_ID]) VALUES (3, N'ExcisableGoodsMovement', N'~/Home', N'Excisable Goods Movement', 1)
GO
INSERT [dbo].[POA] ([POA_ID], [ID_CARD], [POA_PHONE], [POA_ADDRESS], [POA_EMAIL], [PRINTED_NAME], [TITLE], [LOGIN_AS], [MANAGER_ID], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [IS_ACTIVE]) VALUES (N'0000000001', N'poa 1', N'0934344', N'adasd', N'user1@gmail.com', N'dasda', N'dasd', N'0000000001', N'0000000001', N'0000000001', CAST(0x0000A4E20110F2D5 AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[T001] ([BUKRS], [BUTXT], [NPWP], [ORT01], [SPRAS], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (N'1616', N'Philip Morris Indonesia', NULL, N'Jakarta', N'i', CAST(0x0000A4E200E18232 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[T001] ([BUKRS], [BUTXT], [NPWP], [ORT01], [SPRAS], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (N'1670', N'PT Asia Tembakau', NULL, N'Jakarta', N'i', CAST(0x0000A4E200E18232 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[T001] ([BUKRS], [BUTXT], [NPWP], [ORT01], [SPRAS], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE]) VALUES (N'3066', N'PT HM Sampoerna Tbk', NULL, N'Jakarta', N'i', CAST(0x0000A4E200E18232 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[T001K] ([BWKEY], [BUKRS], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'ID01', N'1616', CAST(0x0000A4E200E18245 AS DateTime), NULL)
GO
INSERT [dbo].[T001K] ([BWKEY], [BUKRS], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'ID02', N'3066', CAST(0x0000A4E200E18245 AS DateTime), NULL)
GO
INSERT [dbo].[T001K] ([BWKEY], [BUKRS], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'ID04', N'3066', CAST(0x0000A4E200E18245 AS DateTime), NULL)
GO
INSERT [dbo].[T001W] ([WERKS], [NAME1], [ORT01], [PHONE], [ADDRESS], [SKEPTIS], [NPPBKC_ID], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY], [IS_MAIN_PLANT]) VALUES (N'ID01', N'Bekasi Manufacturing', N'Karawang', NULL, NULL, NULL, NULL, CAST(0x0000A4E200E1832A AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[T001W] ([WERKS], [NAME1], [ORT01], [PHONE], [ADDRESS], [SKEPTIS], [NPPBKC_ID], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY], [IS_MAIN_PLANT]) VALUES (N'ID02', N'Karawang Manufacturing', N'Karawang', NULL, NULL, NULL, NULL, CAST(0x0000A4E200E1832A AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[T001W] ([WERKS], [NAME1], [ORT01], [PHONE], [ADDRESS], [SKEPTIS], [NPPBKC_ID], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY], [IS_MAIN_PLANT]) VALUES (N'ID04', N'Sukorejo Manufacturing', N'Pasuruan', NULL, NULL, NULL, NULL, CAST(0x0000A4E200E1832A AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[UOM] ([UOM_ID], [UOM_DESC], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY]) VALUES (N'kg', N'kilogrammm', CAST(0x0000A4D100F5EBFB AS DateTime), NULL, NULL)
GO
INSERT [dbo].[UOM] ([UOM_ID], [UOM_DESC], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY]) VALUES (N'ltr', N'liter', CAST(0x0000A4D100F6E492 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[USER] ([USER_ID], [FIRST_NAME], [LAST_NAME], [PHONE], [EMAIL], [ADDRESS], [USER_GROUP_ID], [CREATED_DATE], [MODIFIED_DATE], [IS_ACTIVE]) VALUES (N'0000000001', N'user 1 firstname', N'lastname', N'0934344', N'user1@gmail.com', N'addd', N'aaa', CAST(0x0000A4C800000000 AS DateTime), NULL, 1)
GO
INSERT [dbo].[USER] ([USER_ID], [FIRST_NAME], [LAST_NAME], [PHONE], [EMAIL], [ADDRESS], [USER_GROUP_ID], [CREATED_DATE], [MODIFIED_DATE], [IS_ACTIVE]) VALUES (N'0000000002', N'user 2 firstname', N'lastname', N'989999', N'user2@gmail.com', N'xxxx', N'aaa', CAST(0x0000A4C800000000 AS DateTime), NULL, 1)
GO
INSERT [dbo].[USER_GROUP] ([USER_GROUP_ID], [GROUP_DESCRIPTION], [ROLE_NAME], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'aaa', N'Creator', N'Creator', CAST(0x0000A4C800000000 AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_GOODTYP] ([EXC_GOOD_TYP], [EXT_TYP_DESC], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'01', N'Hasil Tembakau (HT)', CAST(0x0000A4E200E1810C AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_GOODTYP] ([EXC_GOOD_TYP], [EXT_TYP_DESC], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'02', N'Tembakau Iris (TIS)', CAST(0x0000A4E200E1810C AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_GOODTYP] ([EXC_GOOD_TYP], [EXT_TYP_DESC], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'03', N'Tembakau Iris Reject (TIS)', CAST(0x0000A4E200E1810C AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_KPPBC] ([KPPBC_ID], [KPPBC_TYPE], [MENGETAHUI], [CK1_KEP_HEADER], [CK1_KEP_FOOTER], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'0000001909', N'Tipe Pratama', N'11', N'ww', N'wwwww', CAST(0x0000A4E200E18192 AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_KPPBC] ([KPPBC_ID], [KPPBC_TYPE], [MENGETAHUI], [CK1_KEP_HEADER], [CK1_KEP_FOOTER], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'0000002073', N'Madya Pabean', N'Z_MENGETAHUI', N'qqqq', N'qqqqq', CAST(0x0000A4E200E18192 AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_KPPBC] ([KPPBC_ID], [KPPBC_TYPE], [MENGETAHUI], [CK1_KEP_HEADER], [CK1_KEP_FOOTER], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'0000010005', N'Madya Cukai', N'Z_MENGETAHUI', N'ZDEEP', N'test58', CAST(0x0000A4E200E18192 AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_MARKET] ([MARKET_ID], [MARKET_DESC], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'01', N'DOMESTIC', CAST(0x0000A4E200C0AD75 AS DateTime), CAST(0x0000A4E200E181AF AS DateTime))
GO
INSERT [dbo].[ZAIDM_EX_MARKET] ([MARKET_ID], [MARKET_DESC], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'02', N'EXPORT', CAST(0x0000A4E200C0AD7A AS DateTime), CAST(0x0000A4E200E181B3 AS DateTime))
GO
INSERT [dbo].[ZAIDM_EX_NPPBKC] ([NPPBKC_ID], [ADDR1], [ADDR2], [CITY], [CITY_ALIAS], [KPPBC_ID], [REGION], [REGION_DGCE], [VENDOR_ID], [BUKRS], [TEXT_TO], [START_DATE], [END_DATE], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY], [IS_DELETED]) VALUES (N'00000100100000A', N'JL.RAYA BERBEK INDUSTRI II NO.8.10.12', N'KEL.BERBEK KEC.WARU - SIDOARJO', N'JAKARTA', NULL, N'0000010005', N'kolkata A12345678900', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A4E200E181C1 AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[ZAIDM_EX_NPPBKC] ([NPPBKC_ID], [ADDR1], [ADDR2], [CITY], [CITY_ALIAS], [KPPBC_ID], [REGION], [REGION_DGCE], [VENDOR_ID], [BUKRS], [TEXT_TO], [START_DATE], [END_DATE], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY], [IS_DELETED]) VALUES (N'00000100100000B', N'ABCDEABCDEABCDEABCDEABCDEABC1EABCDEABCDEABCDEABCDE', N'ABCDEABCDEABCDEABCDEABCDEABC1EABCDEABCDEABCDEABCDE', N'SURABAYA', NULL, N'0000010005', N'KOLKATA A12345678900', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A4E200E181C1 AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[ZAIDM_EX_NPPBKC] ([NPPBKC_ID], [ADDR1], [ADDR2], [CITY], [CITY_ALIAS], [KPPBC_ID], [REGION], [REGION_DGCE], [VENDOR_ID], [BUKRS], [TEXT_TO], [START_DATE], [END_DATE], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY], [IS_DELETED]) VALUES (N'00000100100000C', N'ABCDEABCDEABCDEABCDEABCDEABC1EABCDEABCDEABCDEABCDE', N'ABCDEABCDEABCDEABCDEABCDEABC1EABCDEABCDEABCDEABCDE', N'JAKARTA', NULL, N'0000010005', N'KOLKATA A12345678900', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A4E200E181C1 AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[ZAIDM_EX_PCODE] ([PER_CODE], [PER_DESC], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'01', N'PERMAKIN01', CAST(0x0000A4E200E181FA AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_PCODE] ([PER_CODE], [PER_DESC], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'02', N'HARMAJSE01', CAST(0x0000A4E200E181FA AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_PCODE] ([PER_CODE], [PER_DESC], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'13', N'A12345678901234567890123456789', CAST(0x0000A4E200E181FA AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_PRODTYP] ([PROD_CODE], [PRODUCT_TYPE], [PRODUCT_ALIAS], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'01', N'SIGARET KRETEK TANGAN', N'SKT', CAST(0x0000A4E200E1820C AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_PRODTYP] ([PROD_CODE], [PRODUCT_TYPE], [PRODUCT_ALIAS], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'02', N'SIGARET KRETEK MESIN', N'SKM', CAST(0x0000A4E200E1820C AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_PRODTYP] ([PROD_CODE], [PRODUCT_TYPE], [PRODUCT_ALIAS], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'03', N'SIGARET PUTIH MESIN', N'SPM', CAST(0x0000A4E200E1820C AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_SERIES] ([SERIES_CODE], [SERIES_VALUE], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'01', N'0120', CAST(0x0000A4E200E1821F AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_SERIES] ([SERIES_CODE], [SERIES_VALUE], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'02', N'0056', CAST(0x0000A4E200E1821F AS DateTime), NULL)
GO
INSERT [dbo].[ZAIDM_EX_SERIES] ([SERIES_CODE], [SERIES_VALUE], [CREATED_DATE], [MODIFIED_DATE]) VALUES (N'03', N'0150', CAST(0x0000A4E200E1821F AS DateTime), NULL)
GO
ALTER TABLE [dbo].[HEADER_FOOTER] ADD  CONSTRAINT [DF_HEADER_FOOTER_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[POA] ADD  CONSTRAINT [DF_POA_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] ADD  CONSTRAINT [DF_VIRTUAL_PLANT_MAP_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] ADD  CONSTRAINT [DF_ZAIDM_EX_BRAND_IS_FROM_SAP]  DEFAULT ((1)) FOR [IS_FROM_SAP]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] ADD  CONSTRAINT [DF_ZAIDM_EX_BRAND_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] ADD  CONSTRAINT [DF_ZAIDM_EX_MATERIAL_IS_FROM_SAP]  DEFAULT ((1)) FOR [IS_FROM_SAP]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] ADD  CONSTRAINT [DF_ZAIDM_EX_MATERIAL_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] ADD  CONSTRAINT [DF_ZAIDM_EX_NPPBKC_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[CHANGES_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_CHANGES_HISTORY_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[CHANGES_HISTORY] CHECK CONSTRAINT [FK_CHANGES_HISTORY_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[CK5]  WITH CHECK ADD  CONSTRAINT [FK_CK5_APPROVED_BY_USER] FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[CK5] CHECK CONSTRAINT [FK_CK5_APPROVED_BY_USER]
GO
ALTER TABLE [dbo].[CK5]  WITH CHECK ADD  CONSTRAINT [FK_CK5_CREATED_BY_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[CK5] CHECK CONSTRAINT [FK_CK5_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[CK5]  WITH CHECK ADD  CONSTRAINT [FK_CK5_PBCK1] FOREIGN KEY([PBCK1_DECREE_ID])
REFERENCES [dbo].[PBCK1] ([PBCK1_ID])
GO
ALTER TABLE [dbo].[CK5] CHECK CONSTRAINT [FK_CK5_PBCK1]
GO
ALTER TABLE [dbo].[CK5]  WITH CHECK ADD  CONSTRAINT [FK_CK5_UOM] FOREIGN KEY([PACKAGE_UOM_ID])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[CK5] CHECK CONSTRAINT [FK_CK5_UOM]
GO
ALTER TABLE [dbo].[CK5_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_CK5_MATERIAL_CK5] FOREIGN KEY([CK5_ID])
REFERENCES [dbo].[CK5] ([CK5_ID])
GO
ALTER TABLE [dbo].[CK5_MATERIAL] CHECK CONSTRAINT [FK_CK5_MATERIAL_CK5]
GO
ALTER TABLE [dbo].[DOC_NUMBER_SEQ]  WITH CHECK ADD  CONSTRAINT [FK_DOC_NUMBER_SEQ_MONTH] FOREIGN KEY([MONTH])
REFERENCES [dbo].[MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[DOC_NUMBER_SEQ] CHECK CONSTRAINT [FK_DOC_NUMBER_SEQ_MONTH]
GO
ALTER TABLE [dbo].[EX_GROUP_TYPE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_EX_GROUP_TYPE_DETAILS_EX_GROUP_TYPE] FOREIGN KEY([EX_GROUP_TYPE_ID])
REFERENCES [dbo].[EX_GROUP_TYPE] ([EX_GROUP_TYPE_ID])
GO
ALTER TABLE [dbo].[EX_GROUP_TYPE_DETAILS] CHECK CONSTRAINT [FK_EX_GROUP_TYPE_DETAILS_EX_GROUP_TYPE]
GO
ALTER TABLE [dbo].[EX_GROUP_TYPE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_EX_GROUP_TYPE_DETAILS_ZAIDM_EX_GOODTYP] FOREIGN KEY([GOODTYPE_ID])
REFERENCES [dbo].[ZAIDM_EX_GOODTYP] ([EXC_GOOD_TYP])
GO
ALTER TABLE [dbo].[EX_GROUP_TYPE_DETAILS] CHECK CONSTRAINT [FK_EX_GROUP_TYPE_DETAILS_ZAIDM_EX_GOODTYP]
GO
ALTER TABLE [dbo].[HEADER_FOOTER]  WITH CHECK ADD  CONSTRAINT [FK_HEADER_FOOTER_CREATED_BY_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[HEADER_FOOTER] CHECK CONSTRAINT [FK_HEADER_FOOTER_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[HEADER_FOOTER]  WITH CHECK ADD  CONSTRAINT [FK_HEADER_FOOTER_HEADER_FOOTER] FOREIGN KEY([BUKRS])
REFERENCES [dbo].[T001] ([BUKRS])
GO
ALTER TABLE [dbo].[HEADER_FOOTER] CHECK CONSTRAINT [FK_HEADER_FOOTER_HEADER_FOOTER]
GO
ALTER TABLE [dbo].[HEADER_FOOTER]  WITH CHECK ADD  CONSTRAINT [FK_HEADER_FOOTER_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[HEADER_FOOTER] CHECK CONSTRAINT [FK_HEADER_FOOTER_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[HEADER_FOOTER_FORM_MAP]  WITH CHECK ADD  CONSTRAINT [FK_HEADER_FOOTER_FORM_MAP_HEADER_FOOTER] FOREIGN KEY([HEADER_FOOTER_ID])
REFERENCES [dbo].[HEADER_FOOTER] ([HEADER_FOOTER_ID])
GO
ALTER TABLE [dbo].[HEADER_FOOTER_FORM_MAP] CHECK CONSTRAINT [FK_HEADER_FOOTER_FORM_MAP_HEADER_FOOTER]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_MONTH] FOREIGN KEY([PERIOD_MONTH])
REFERENCES [dbo].[MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_MONTH]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_RETURN_UOM] FOREIGN KEY([RETURN_UOM])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_RETURN_UOM]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_USER_APPROVED] FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_USER_APPROVED]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_USER_CREATED] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_USER_CREATED]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_WASTE_UOM] FOREIGN KEY([WASTE_UOM])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_WASTE_UOM]
GO
ALTER TABLE [dbo].[LACK1_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_DOCUMENT_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_DOCUMENT] CHECK CONSTRAINT [FK_LACK1_DOCUMENT_LACK1]
GO
ALTER TABLE [dbo].[LACK1_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_ITEM_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_ITEM] CHECK CONSTRAINT [FK_LACK1_ITEM_LACK1]
GO
ALTER TABLE [dbo].[MATERIAL_UOM]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAL_UOM_ZAIDM_EX_MATERIAL] FOREIGN KEY([STICKER_CODE], [WERKS])
REFERENCES [dbo].[ZAIDM_EX_MATERIAL] ([STICKER_CODE], [WERKS])
GO
ALTER TABLE [dbo].[MATERIAL_UOM] CHECK CONSTRAINT [FK_MATERIAL_UOM_ZAIDM_EX_MATERIAL]
GO
ALTER TABLE [dbo].[PAGE]  WITH CHECK ADD  CONSTRAINT [FK_PAGE_PAGE] FOREIGN KEY([PARENT_PAGE_ID])
REFERENCES [dbo].[PAGE] ([PAGE_ID])
GO
ALTER TABLE [dbo].[PAGE] CHECK CONSTRAINT [FK_PAGE_PAGE]
GO
ALTER TABLE [dbo].[PAGE_MAP]  WITH CHECK ADD  CONSTRAINT [FK_PAGE_MAP_PAGE] FOREIGN KEY([PAGE_ID])
REFERENCES [dbo].[PAGE] ([PAGE_ID])
GO
ALTER TABLE [dbo].[PAGE_MAP] CHECK CONSTRAINT [FK_PAGE_MAP_PAGE]
GO
ALTER TABLE [dbo].[PAGE_MAP]  WITH CHECK ADD  CONSTRAINT [FK_PAGE_MAP_USER_GROUP] FOREIGN KEY([USER_GROUP_ID])
REFERENCES [dbo].[USER_GROUP] ([USER_GROUP_ID])
GO
ALTER TABLE [dbo].[PAGE_MAP] CHECK CONSTRAINT [FK_PAGE_MAP_USER_GROUP]
GO
ALTER TABLE [dbo].[PBCK1]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_APPROVED_BY_USER] FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK1] CHECK CONSTRAINT [FK_PBCK1_APPROVED_BY_USER]
GO
ALTER TABLE [dbo].[PBCK1]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_CREATED_BY_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK1] CHECK CONSTRAINT [FK_PBCK1_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[PBCK1]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_LACK1_MONTH_FROM] FOREIGN KEY([LACK1_FROM_MONTH])
REFERENCES [dbo].[MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[PBCK1] CHECK CONSTRAINT [FK_PBCK1_LACK1_MONTH_FROM]
GO
ALTER TABLE [dbo].[PBCK1]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_MONTH] FOREIGN KEY([LACK1_TO_MONTH])
REFERENCES [dbo].[MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[PBCK1] CHECK CONSTRAINT [FK_PBCK1_MONTH]
GO
ALTER TABLE [dbo].[PBCK1]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_PBCK1] FOREIGN KEY([PBCK1_REF])
REFERENCES [dbo].[PBCK1] ([PBCK1_ID])
GO
ALTER TABLE [dbo].[PBCK1] CHECK CONSTRAINT [FK_PBCK1_PBCK1]
GO
ALTER TABLE [dbo].[PBCK1]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_REQUEST_UOM] FOREIGN KEY([REQUEST_QTY_UOM])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[PBCK1] CHECK CONSTRAINT [FK_PBCK1_REQUEST_UOM]
GO
ALTER TABLE [dbo].[PBCK1]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_SALDO_UOM] FOREIGN KEY([LATEST_SALDO_UOM])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[PBCK1] CHECK CONSTRAINT [FK_PBCK1_SALDO_UOM]
GO
ALTER TABLE [dbo].[PBCK1_DECREE_DOC]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_DECREE_DOC_PBCK1] FOREIGN KEY([PBCK1_ID])
REFERENCES [dbo].[PBCK1] ([PBCK1_ID])
GO
ALTER TABLE [dbo].[PBCK1_DECREE_DOC] CHECK CONSTRAINT [FK_PBCK1_DECREE_DOC_PBCK1]
GO
ALTER TABLE [dbo].[PBCK1_DECREE_DOC]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_DECREE_DOC_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[PBCK1_DECREE_DOC] CHECK CONSTRAINT [FK_PBCK1_DECREE_DOC_USER]
GO
ALTER TABLE [dbo].[PBCK1_PROD_CONVERTER]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_PROD_CONVERTER_PBCK1] FOREIGN KEY([PBCK1_ID])
REFERENCES [dbo].[PBCK1] ([PBCK1_ID])
GO
ALTER TABLE [dbo].[PBCK1_PROD_CONVERTER] CHECK CONSTRAINT [FK_PBCK1_PROD_CONVERTER_PBCK1]
GO
ALTER TABLE [dbo].[PBCK1_PROD_CONVERTER]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_PROD_CONVERTER_UOM] FOREIGN KEY([CONVERTER_UOM_ID])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[PBCK1_PROD_CONVERTER] CHECK CONSTRAINT [FK_PBCK1_PROD_CONVERTER_UOM]
GO
ALTER TABLE [dbo].[PBCK1_PROD_PLAN]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_PROD_PLAN_MONTH] FOREIGN KEY([MONTH])
REFERENCES [dbo].[MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[PBCK1_PROD_PLAN] CHECK CONSTRAINT [FK_PBCK1_PROD_PLAN_MONTH]
GO
ALTER TABLE [dbo].[PBCK1_PROD_PLAN]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_PROD_PLAN_PBCK1] FOREIGN KEY([PBCK1_ID])
REFERENCES [dbo].[PBCK1] ([PBCK1_ID])
GO
ALTER TABLE [dbo].[PBCK1_PROD_PLAN] CHECK CONSTRAINT [FK_PBCK1_PROD_PLAN_PBCK1]
GO
ALTER TABLE [dbo].[PBCK1_PROD_PLAN]  WITH CHECK ADD  CONSTRAINT [FK_PBCK1_PROD_PLAN_UOM] FOREIGN KEY([BKC_REQUIRED_UOM_ID])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[PBCK1_PROD_PLAN] CHECK CONSTRAINT [FK_PBCK1_PROD_PLAN_UOM]
GO
ALTER TABLE [dbo].[PLANT_RECEIVE_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_PLANT_RECEIVE_MATERIAL_T001W] FOREIGN KEY([EXC_GOOD_TYP])
REFERENCES [dbo].[ZAIDM_EX_GOODTYP] ([EXC_GOOD_TYP])
GO
ALTER TABLE [dbo].[PLANT_RECEIVE_MATERIAL] CHECK CONSTRAINT [FK_PLANT_RECEIVE_MATERIAL_T001W]
GO
ALTER TABLE [dbo].[PLANT_RECEIVE_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_PLANT_RECEIVE_MATERIAL_ZAIDM_EX_GOODTYP] FOREIGN KEY([EXC_GOOD_TYP])
REFERENCES [dbo].[ZAIDM_EX_GOODTYP] ([EXC_GOOD_TYP])
GO
ALTER TABLE [dbo].[PLANT_RECEIVE_MATERIAL] CHECK CONSTRAINT [FK_PLANT_RECEIVE_MATERIAL_ZAIDM_EX_GOODTYP]
GO
ALTER TABLE [dbo].[POA]  WITH CHECK ADD  CONSTRAINT [FK_POA_CREATED_BY_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[POA] CHECK CONSTRAINT [FK_POA_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[POA]  WITH CHECK ADD  CONSTRAINT [FK_POA_LOGIN_AS_USER] FOREIGN KEY([LOGIN_AS])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[POA] CHECK CONSTRAINT [FK_POA_LOGIN_AS_USER]
GO
ALTER TABLE [dbo].[POA]  WITH CHECK ADD  CONSTRAINT [FK_POA_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[POA] CHECK CONSTRAINT [FK_POA_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[POA]  WITH CHECK ADD  CONSTRAINT [FK_POA_USER] FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[POA] CHECK CONSTRAINT [FK_POA_USER]
GO
ALTER TABLE [dbo].[POA_MAP]  WITH CHECK ADD  CONSTRAINT [FK_POA_MAP_CREATED_BY_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[POA_MAP] CHECK CONSTRAINT [FK_POA_MAP_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[POA_MAP]  WITH CHECK ADD  CONSTRAINT [FK_POA_MAP_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[POA_MAP] CHECK CONSTRAINT [FK_POA_MAP_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[POA_MAP]  WITH CHECK ADD  CONSTRAINT [FK_POA_MAP_POA] FOREIGN KEY([POA_ID])
REFERENCES [dbo].[POA] ([POA_ID])
GO
ALTER TABLE [dbo].[POA_MAP] CHECK CONSTRAINT [FK_POA_MAP_POA]
GO
ALTER TABLE [dbo].[POA_MAP]  WITH CHECK ADD  CONSTRAINT [FK_POA_MAP_ZAIDM_EX_NPPBKC] FOREIGN KEY([NPPBKC_ID])
REFERENCES [dbo].[ZAIDM_EX_NPPBKC] ([NPPBKC_ID])
GO
ALTER TABLE [dbo].[POA_MAP] CHECK CONSTRAINT [FK_POA_MAP_ZAIDM_EX_NPPBKC]
GO
ALTER TABLE [dbo].[POA_SK]  WITH CHECK ADD  CONSTRAINT [FK_POA_SK_POA] FOREIGN KEY([POA_ID])
REFERENCES [dbo].[POA] ([POA_ID])
GO
ALTER TABLE [dbo].[POA_SK] CHECK CONSTRAINT [FK_POA_SK_POA]
GO
ALTER TABLE [dbo].[T001]  WITH CHECK ADD  CONSTRAINT [FK_T001_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[T001] CHECK CONSTRAINT [FK_T001_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[T001K]  WITH CHECK ADD  CONSTRAINT [FK_T001K_T001] FOREIGN KEY([BUKRS])
REFERENCES [dbo].[T001] ([BUKRS])
GO
ALTER TABLE [dbo].[T001K] CHECK CONSTRAINT [FK_T001K_T001]
GO
ALTER TABLE [dbo].[T001K]  WITH CHECK ADD  CONSTRAINT [FK_T001K_T1001] FOREIGN KEY([BUKRS])
REFERENCES [dbo].[T001] ([BUKRS])
GO
ALTER TABLE [dbo].[T001K] CHECK CONSTRAINT [FK_T001K_T1001]
GO
ALTER TABLE [dbo].[T001W]  WITH CHECK ADD  CONSTRAINT [FK_T001W_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[T001W] CHECK CONSTRAINT [FK_T001W_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[T001W]  WITH CHECK ADD  CONSTRAINT [FK_T001W_ZAIDM_EX_NPPBKC] FOREIGN KEY([NPPBKC_ID])
REFERENCES [dbo].[ZAIDM_EX_NPPBKC] ([NPPBKC_ID])
GO
ALTER TABLE [dbo].[T001W] CHECK CONSTRAINT [FK_T001W_ZAIDM_EX_NPPBKC]
GO
ALTER TABLE [dbo].[UOM]  WITH CHECK ADD  CONSTRAINT [FK_UOM_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[UOM] CHECK CONSTRAINT [FK_UOM_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_USER_GROUP] FOREIGN KEY([USER_GROUP_ID])
REFERENCES [dbo].[USER_GROUP] ([USER_GROUP_ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_USER_GROUP]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP]  WITH CHECK ADD  CONSTRAINT [FK_VIRTUAL_PLANT_MAP_CREATED_BY_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] CHECK CONSTRAINT [FK_VIRTUAL_PLANT_MAP_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP]  WITH CHECK ADD  CONSTRAINT [FK_VIRTUAL_PLANT_MAP_EXPORT_PLANT] FOREIGN KEY([EXPORT_PLANT_ID])
REFERENCES [dbo].[T001W] ([WERKS])
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] CHECK CONSTRAINT [FK_VIRTUAL_PLANT_MAP_EXPORT_PLANT]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP]  WITH CHECK ADD  CONSTRAINT [FK_VIRTUAL_PLANT_MAP_IMPORT_PLANT] FOREIGN KEY([IMPORT_PLANT_ID])
REFERENCES [dbo].[T001W] ([WERKS])
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] CHECK CONSTRAINT [FK_VIRTUAL_PLANT_MAP_IMPORT_PLANT]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP]  WITH CHECK ADD  CONSTRAINT [FK_VIRTUAL_PLANT_MAP_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] CHECK CONSTRAINT [FK_VIRTUAL_PLANT_MAP_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP]  WITH CHECK ADD  CONSTRAINT [FK_VIRTUAL_PLANT_MAP_T001] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[T001] ([BUKRS])
GO
ALTER TABLE [dbo].[VIRTUAL_PLANT_MAP] CHECK CONSTRAINT [FK_VIRTUAL_PLANT_MAP_T001]
GO
ALTER TABLE [dbo].[WORKFLOW_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_WORKFLOW_HISTORY_USER] FOREIGN KEY([ACTION_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[WORKFLOW_HISTORY] CHECK CONSTRAINT [FK_WORKFLOW_HISTORY_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_BRAND_CREATED_BY_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] CHECK CONSTRAINT [FK_ZAIDM_EX_BRAND_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_BRAND_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] CHECK CONSTRAINT [FK_ZAIDM_EX_BRAND_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_BRAND_T001W] FOREIGN KEY([WERKS])
REFERENCES [dbo].[T001W] ([WERKS])
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] CHECK CONSTRAINT [FK_ZAIDM_EX_BRAND_T001W]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_GOODTYP] FOREIGN KEY([EXC_GOOD_TYP])
REFERENCES [dbo].[ZAIDM_EX_GOODTYP] ([EXC_GOOD_TYP])
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] CHECK CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_GOODTYP]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_MARKET] FOREIGN KEY([MARKET_ID])
REFERENCES [dbo].[ZAIDM_EX_MARKET] ([MARKET_ID])
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] CHECK CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_MARKET]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_PCODE] FOREIGN KEY([PER_CODE])
REFERENCES [dbo].[ZAIDM_EX_PCODE] ([PER_CODE])
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] CHECK CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_PCODE]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_PRODTYP] FOREIGN KEY([PROD_CODE])
REFERENCES [dbo].[ZAIDM_EX_PRODTYP] ([PROD_CODE])
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] CHECK CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_PRODTYP]
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_SERIES] FOREIGN KEY([SERIES_CODE])
REFERENCES [dbo].[ZAIDM_EX_SERIES] ([SERIES_CODE])
GO
ALTER TABLE [dbo].[ZAIDM_EX_BRAND] CHECK CONSTRAINT [FK_ZAIDM_EX_BRAND_ZAIDM_EX_SERIES]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_MATERIAL_CREATED_BY_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] CHECK CONSTRAINT [FK_ZAIDM_EX_MATERIAL_CREATED_BY_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_MATERIAL_MODIFIED_BY_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] CHECK CONSTRAINT [FK_ZAIDM_EX_MATERIAL_MODIFIED_BY_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_MATERIAL_T001W] FOREIGN KEY([WERKS])
REFERENCES [dbo].[T001W] ([WERKS])
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] CHECK CONSTRAINT [FK_ZAIDM_EX_MATERIAL_T001W]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_MATERIAL_UOM] FOREIGN KEY([BASE_UOM_ID])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] CHECK CONSTRAINT [FK_ZAIDM_EX_MATERIAL_UOM]
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_MATERIAL_ZAIDM_EX_GOODTYP] FOREIGN KEY([EXC_GOOD_TYP])
REFERENCES [dbo].[ZAIDM_EX_GOODTYP] ([EXC_GOOD_TYP])
GO
ALTER TABLE [dbo].[ZAIDM_EX_MATERIAL] CHECK CONSTRAINT [FK_ZAIDM_EX_MATERIAL_ZAIDM_EX_GOODTYP]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_NPPBKC_LFA1] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[LFA1] ([LIFNR])
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] CHECK CONSTRAINT [FK_ZAIDM_EX_NPPBKC_LFA1]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_NPPBKC_MODIFIED_DATE_USER] FOREIGN KEY([MODIFIED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] CHECK CONSTRAINT [FK_ZAIDM_EX_NPPBKC_MODIFIED_DATE_USER]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_NPPBKC_T001] FOREIGN KEY([BUKRS])
REFERENCES [dbo].[T001] ([BUKRS])
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] CHECK CONSTRAINT [FK_ZAIDM_EX_NPPBKC_T001]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_NPPBKC_T0011] FOREIGN KEY([BUKRS])
REFERENCES [dbo].[T001] ([BUKRS])
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] CHECK CONSTRAINT [FK_ZAIDM_EX_NPPBKC_T0011]
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC]  WITH CHECK ADD  CONSTRAINT [FK_ZAIDM_EX_NPPBKC_ZAIDM_EX_KPPBC] FOREIGN KEY([KPPBC_ID])
REFERENCES [dbo].[ZAIDM_EX_KPPBC] ([KPPBC_ID])
GO
ALTER TABLE [dbo].[ZAIDM_EX_NPPBKC] CHECK CONSTRAINT [FK_ZAIDM_EX_NPPBKC_ZAIDM_EX_KPPBC]
GO
