USE [EMS-DEV2]
GO
/****** Object:  Table [dbo].[LACK1]    Script Date: 7/22/2015 1:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1](
	[LACK1_ID] [int] IDENTITY(1,1) NOT NULL,
	[LACK1_NUMBER] [nvarchar](35) NULL,
	[BUKRS] [nvarchar](4) NULL,
	[BUTXT] [nvarchar](35) NULL,
	[PERIOD_MONTH] [int] NULL,
	[PERIOD_YEAR] [int] NULL,
	[LEVEL_PLANT_ID] [nvarchar](4) NULL,
	[LEVEL_PLANT_NAME] [nvarchar](30) NULL,
	[SUBMISSION_DATE] [datetime] NULL,
	[SUPPLIER_PLANT] [nvarchar](70) NULL,
	[EX_GOODTYP] [nvarchar](2) NULL,
	[WASTE_QTY] [decimal](15, 2) NULL,
	[WASTE_UOM] [nvarchar](5) NULL,
	[RETURN_QTY] [decimal](15, 2) NULL,
	[RETURN_UOM] [nvarchar](5) NULL,
	[STATUS] [int] NULL,
	[GOV_STATUS] [int] NULL,
	[DECREE_DATE] [datetime] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](10) NOT NULL,
	[APPROVED_BY] [nvarchar](10) NULL,
	[APPROVED_DATE] [datetime] NULL,
 CONSTRAINT [PK_LACK1] PRIMARY KEY CLUSTERED 
(
	[LACK1_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1_DOCUMENT]    Script Date: 7/22/2015 1:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_DOCUMENT](
	[LACK1_DOCUMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[FILE_NAME] [nvarchar](50) NULL,
	[FILE_PATH] [nvarchar](250) NULL,
 CONSTRAINT [PK_LACK1_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[LACK1_DOCUMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LACK1_ITEM]    Script Date: 7/22/2015 1:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACK1_ITEM](
	[LACK1_ITEM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LACK1_ID] [int] NULL,
	[BEGINNING_BALANCE] [decimal](15, 2) NULL,
	[INCOME] [decimal](15, 2) NULL,
	[USAGE] [decimal](18, 2) NULL,
	[PRODUCTION] [decimal](18, 2) NULL,
 CONSTRAINT [PK_LACK1_ITEM] PRIMARY KEY CLUSTERED 
(
	[LACK1_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_MONTH] FOREIGN KEY([PERIOD_MONTH])
REFERENCES [dbo].[MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_MONTH]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_RETURN_UOM] FOREIGN KEY([RETURN_UOM])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_RETURN_UOM]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_USER_APPROVED] FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_USER_APPROVED]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_USER_CREATED] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_USER_CREATED]
GO
ALTER TABLE [dbo].[LACK1]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_WASTE_UOM] FOREIGN KEY([WASTE_UOM])
REFERENCES [dbo].[UOM] ([UOM_ID])
GO
ALTER TABLE [dbo].[LACK1] CHECK CONSTRAINT [FK_LACK1_WASTE_UOM]
GO
ALTER TABLE [dbo].[LACK1_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_DOCUMENT_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_DOCUMENT] CHECK CONSTRAINT [FK_LACK1_DOCUMENT_LACK1]
GO
ALTER TABLE [dbo].[LACK1_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_LACK1_ITEM_LACK1] FOREIGN KEY([LACK1_ID])
REFERENCES [dbo].[LACK1] ([LACK1_ID])
GO
ALTER TABLE [dbo].[LACK1_ITEM] CHECK CONSTRAINT [FK_LACK1_ITEM_LACK1]
GO
