<div>
    Toggle column:
    <a class="toggle-vis" data-column="0">No</a> -
    <a class="toggle-vis" data-column="1">Tanggal Aju</a>
    <a class="toggle-vis" data-column="2">Nomer Aju</a>
    <a class="toggle-vis" data-column="3">Tanggal Pendaftaran</a>
    <a class="toggle-vis" data-column="4">Nomor Pendaftaran</a>
    <a class="toggle-vis" data-column="5">Type of Excisable Goods</a>
    <a class="toggle-vis" data-column="6">Type of Request</a>
    <a class="toggle-vis" data-column="7">Origin CE Office</a>
    <a class="toggle-vis" data-column="8">Origin Company</a>
    <a class="toggle-vis" data-column="9">Origin Company's NPPBKC</a>
    <a class="toggle-vis" data-column="10">Origin Company's Address</a>
    <a class="toggle-vis" data-column="11">Destination Country</a>
    <a class="toggle-vis" data-column="12">Type of Tobacco Product</a>
    <a class="toggle-vis" data-column="13">Number of Box</a>
    <a class="toggle-vis" data-column="14">Contain per Box</a>
    <a class="toggle-vis" data-column="15">Total of Excisable Goods</a>
    <a class="toggle-vis" data-column="16">Banderol Price</a>
    <a class="toggle-vis" data-column="17">Excise Tariff</a>
    <a class="toggle-vis" data-column="18">Excise Value</a>
    <a class="toggle-vis" data-column="19">Foreign Exchange</a>
    <a class="toggle-vis" data-column="20">Type of Excise Settlement</a>
    <a class="toggle-vis" data-column="21">Excise Status</a>
    <a class="toggle-vis" data-column="22">Unpaid Excise Facility Number</a>
    <a class="toggle-vis" data-column="23">Unpaid Excise Facility Date</a>
    <a class="toggle-vis" data-column="24">Destination CE Office</a>
    <a class="toggle-vis" data-column="25">Sealing Notification Date</a>
    <a class="toggle-vis" data-column="26">Sealing Notification Number</a>
    <a class="toggle-vis" data-column="27">Reported to LACK-1 Month</a>
    <a class="toggle-vis" data-column="28">Reported to LACK-2 Month</a>
</div>