<div>
    Toggle column:
    <a class="toggle-vis" data-column="0">No</a> -
    <a class="toggle-vis" data-column="1">Tanggal Aju</a>
    <a class="toggle-vis" data-column="2">Nomer Aju</a>
    <a class="toggle-vis" data-column="3">Tanggal Pendaftaran</a>
    <a class="toggle-vis" data-column="4">Nomor Pendaftaran</a>
    <a class="toggle-vis" data-column="5">Type of Request</a>
    <a class="toggle-vis" data-column="6">Type of Excisable Goods</a>
    <a class="toggle-vis" data-column="7">Origin CE Office</a>
    <a class="toggle-vis" data-column="8">Origin Company</a>
    <a class="toggle-vis" data-column="9">Origin Company's NPPBKC</a>
    <a class="toggle-vis" data-column="10">Origin Company's Address</a>
    <a class="toggle-vis" data-column="11">Destination CE Office</a>
    <a class="toggle-vis" data-column="12">Destination Company</a>
    <a class="toggle-vis" data-column="13">Destination's NPPBKC</a>
    <a class="toggle-vis" data-column="14">Destination Company Address</a>
    <a class="toggle-vis" data-column="15">Type of Excisable Goods</a>
    <a class="toggle-vis" data-column="16">Number of Box</a>
    <a class="toggle-vis" data-column="17">Contain per Box</a>
    <a class="toggle-vis" data-column="18">Total of Excisable Goods</a>
    <a class="toggle-vis" data-column="19">Banderol Price</a>
    <a class="toggle-vis" data-column="20">Excise Tariff</a>
    <a class="toggle-vis" data-column="21">Excise Value</a>
    <a class="toggle-vis" data-column="22">Type of Excise Settlement</a>
    <a class="toggle-vis" data-column="23">Excise Status</a>
    <a class="toggle-vis" data-column="24">Unpaid Excise Facility Number</a>
    <a class="toggle-vis" data-column="25">Unpaid Excise Facility Date</a>
    <a class="toggle-vis" data-column="26">Sealing Notification Date</a>
    <a class="toggle-vis" data-column="27">Sealing Notification Number</a>
    <a class="toggle-vis" data-column="28">UnSealing Notification Date</a>
    <a class="toggle-vis" data-column="29">UnSealing Notification Number</a>
    <a class="toggle-vis" data-column="30">Reported to LACK-1 Month</a>
    <a class="toggle-vis" data-column="31">Reported to LACK-2 Month</a>

</div>
