@model Sampoerna.EMS.Website.Models.CK5.CK5UploadViewModel

<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
        <div class="form-excise" role="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-4">Material Number</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Brand, new { @class = "form-control" })

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-4">Qty<span class="red">*</span></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Qty, new { @class = "form-control" })

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-4">UOM<span class="red">*</span></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Uom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-4">Convertion</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Convertion, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="action-button">
                <input type="button" class="btn btn-blue" value="Save" id="btnSaveMaterial" />
            </div>
        </div>

    </div>
</div>



