@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.CK5.CK5IndexViewModel

@section styles
{
    <link rel="stylesheet" type="text/css" href="../../Scripts/DataTables-1.10.7/media/css/jquery.dataTables.css">
}



@{
    ViewBag.Title = "CK 5";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>Manual</h3>
            <div class="action-button new">
                <a href="@Url.Action("CreateManual", "CK5")"><button class="btn btn-blue">NEW</button></a>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
                   
                        <div class="tab-wrapper">
                            @using (Ajax.BeginForm("Filter", "CK5",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "contenttable",
                                    OnComplete = "ReloadDataTables"

                                }))
                            {
                                @Html.Partial("_CK5Search")
                            }
                          
                            <div id="contenttable" class="table-container">
                                @Html.Partial("_CK5TablePartial")
                            </div>

                        </div>
                  
           
         </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" language="javascript" src="../../Scripts/DataTables-1.10.7/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="../../Scripts/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" language="javascript" class="init">


        $(document).ready(function () {
            setupDataTables();
          
            $('#MenuCK5Manual').addClass('active');
        });


        function setupDataTables() {

            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#ck5Table')) {
                table = $('#ck5Table').DataTable();
                table.destroy();
            }

            table = $('#ck5Table').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "language": {
                        "lengthMenu": "Display _MENU_ records per page",
                        "zeroRecords": "No records found",
                        "info": "Showing page _PAGE_ of _PAGES_",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });

            // Setup - add a text input to each footer cell
            $('#ck5Table .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0 && idx != 1) {
                    var title = $('#ck5Table thead th').eq($(this).index()).text();
                    //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
                    $(this).html('<input type="text"  />');
                }
            });

            // Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });

            $("#ck5Table_filter").hide();
        }
        

        function ReloadDataTables() {
            setupDataTables();
        }

     
       

    </script>
}
