ALTER TABLE dbo.ZAIDM_EX_BRAND ADD
	BAHAN_KEMASAN nvarchar(100) NULL,
	PACKED_ADJUSTED decimal(18, 4) NULL
GO

ALTER TABLE dbo.PRODUCTION ADD
	ZB decimal(18, 4) NULL,
	PACKED_ADJUSTED decimal(18, 4) NULL
GO

ALTER TABLE dbo.CK4C_ITEM ADD
	ZB decimal(18, 4) NULL,
	PACKED_ADJUSTED decimal(18, 4) NULL
GO

ALTER TABLE dbo.CK4C ADD
	CK4C_ID_REVISED int NULL
GO