@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Models.SchedulerSetting
@model Sampoerna.EMS.Website.Models.SchedulerSetting.SchedulerSettingModel
@{
    ViewBag.Title = "Index";
    
}

@section scripts {
    <script type="text/javascript" language="javascript">
        $('#MenuScheduler').addClass('active');
        

    </script>
}

@using (Html.BeginForm("Index", "SchedulerSetting", null, System.Web.Mvc.FormMethod.Post, new { @class = "form-excise", role = "form" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Scheduler Settings</h3>
                <div class="action-button">
                    @if (Model.IsNotViewer)
                    {
                        <button class="btn btn-blue">Save</button>
                    }
                   
                    @*<input type="button" value="Cancel" class="btn btn-grey" id="btnCancel" />*@
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="scroll">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Scheduler Settings
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <form class="form-excise" role="form">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="col-md-2">Daily Scheduler</label>
                                                        <div class="col-md-2">
                                                            @if (Model.IsNotViewer)
                                                            {
                                                                @Html.TextBoxFor(model => model.DailyMinutes, new { @class = "form-control" })
                                                            }
                                                            else
                                                            {
                                                                 @Html.TextBoxFor(model => model.DailyMinutes, new { @class = "form-control btn-grey", @disabled="disabled" })
                                                            }
                                                           
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="col-md-2">Minutes</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-6">
                                                            <span>
                                                                Interval which daily scheduler will run.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="col-md-2">Monthly Scheduler</label>
                                                        <div class="col-md-2">
                                                            @if (Model.IsNotViewer)
                                                            {
                                                                @Html.TextBoxFor(model => model.MonthlyMinutes, new { @class = "form-control" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.MonthlyMinutes, new { @class = "form-control btn-grey", @disabled = "disabled" })
                                                            }
                                                            
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="col-md-2">Minutes</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-6">
                                                            <span>
                                                                Interval which monthly scheduler will run.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}