@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1MonitoringMutasiViewModel

<div id="table-mutasi-preview">

<table class="table table-bordered table-striped js-options-table">
    <thead>
        <tr>
            <th>No</th>
            <th>Company Code</th>
            <th>Plant Name</th>
            <th>Finish Goods</th>
            <th>Brand Description</th>
            <th>Produced Quantity Packed</th>
            <th>Quantity</th>
            <th>UOM</th>
            <th>Daily Production Date</th>
            <th>Message Error </th>
        </tr>
    </thead>
    <tbody id="tb-upload-excel"></tbody>

</table>
</div>