@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1MonitoringMutasiViewModel

<div id="table-mutasi-preview">
    <table class="table table-bordered table-striped js-options-table">
        <thead>
            <tr>
                <th>No</th>
                <th>PBCK-1 Number</th>
                <th>Total PBCK-1 Quota</th>
                <th>Quota Remaining</th>
                <th>Doc Number CK-5</th>
                <th>Grand Total Exciseable</th>
            </tr>
        </thead>

    </table>
</div>