@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1ItemViewModel

<div role="tabpanel" class="tab-pane" id="upload">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Upload Excel File
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="file" class="form-control" id="ProdConvExcelfile" name="ProdConvExcelfile">
                        </div>
                        <div class="col-md-6">
                            <input id="ProdConvSubmitBtn" type="button" class="btn btn-grey generate" value="Generate" />
                            <input id="prod-conv-save" type="button" class="btn btn-grey" value="Save" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container" id="ProdConvContent">
        @Html.Partial("_ProdConvList", Model)
    </div>
</div>

