@using DocumentFormat.OpenXml.Office.CustomUI
@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1MonitoringMutasiViewModel

@{
    ViewBag.Title = "Monitoring Mutasi";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                <div id="upload" class="tab-pane active" role="tabpanel">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div id="headingOne" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="">
                                        Monitoring Mutasi
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="row">
                                        @using (Ajax.BeginForm("FilterMutasiIndex", "Pbck1",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "ReloadDataTables"

                }))
                                        {
                                            <div role="form" class="form-excise">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <label class="col-md-3">PBCK-1 Number</label>
                                                        <div class="col-md-6">
                                                            @Html.DropDownListFor(model => model.pbck1Number, Model.pbck1NumberList, "All", new { @class = "form-control selectreset" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="submit" class="btn btn-blue full" value="FILTER">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <button class="btn btn-blue full">RESET</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contenttable" class="table-container">
        @Html.Partial("_MutasiList")
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" language="javascript">
        $('#MenuPBCK1MonitoringMutasi').addClass('active');


        function setupDataTables() {
            $('#btn-reset-filter').click(function () {
                $(".selectreset").val($(".selectreset option:first").val());
            });

            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#DailyProduction')) {
                table = $('#monitoringMutasi').DataTable();
                table.destroy();
            }

            table = $('#monitoringMutasi').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });

            // Setup - add a text input to each footer cell
            $('#monitoringMutasi .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0) {
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" />');
                }
            });

            // Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }

        $(document).ready(function () {
            setupDataTables();
        });

        function ReloadDataTables() {
            $('.toggle-row').click(function () {

                var filter = $(".filters");
                filter.slideToggle(100).promise().done(function () {

                });
            });
            setupDataTables();
        }

    </script>

}

