
@model Sampoerna.EMS.Website.Models.PBCK1ViewModel


<div id="divPoaList" class="col-md-8">
  @Html.DropDownListFor(model => model.SearchInput.POA, Model.SearchInput.POAList, "Select", new { @class = "form-control" })
</div>