
@model Sampoerna.EMS.Website.Models.PBCK1.PBCK1ViewModel

<div id="divPoaList" class="col-md-8">
  @Html.DropDownListFor(model => model.SearchInput.POA, Model.SearchInput.POAList, string.Empty, new { @class = "form-control" })
</div>