<div style='font-family: Calibri, sans-serif;'>
<p align='right'>#COMPANY_CITY, #REQUEST_DATE</p>
<br />
<table style='width:80%; background: none;'>
	<tr>
		<td style="width:50px;">Nomor</td>
		<td>:</td>
		<td>#FORM_NUMBER</td>
	</tr>
	<tr>
		<td>Lampiran</td>
		<td>:</td>
		<td>#LAMPIRAN_COUNT</td>
	</tr>
	<tr>
		<td>Perihal</td>
		<td>:</td>
		<td>#PERIHAL</td>
	</tr>
</table>
<br/>
<p>Yth. #KPPBC_TEXT_TO</p>
<br />
<p>Dengan hormat,</p>
<p>Yang bertanda tangan di bawah ini:</p>
<table style='width:80%; background: none;'>
	<tr>
		<td style="width:70px;">Nama</td>
		<td>:</td>
		<td>#POA_NAME</td>
	</tr>
	<tr>
		<td>Jabatan</td>
		<td>:</td>
		<td>#POA_ROLE</td>
	</tr>
	<tr>
		<td>Alamat</td>
		<td>:</td>
		<td>#POA_ADDRESS</td>
	</tr>
</table>
<br/>
<p>Mengajukan permohonan untuk dilakukan pemeriksaan dan wawancara dalam rangka untuk mendapatkan</p>
<p>Nomor Pokok Pengusaha Barang Kena Cukai (NPPBKC) sebagai pengusaha #COMPANY_TYPE</p>
<p>atas nama #COMPANY_NAME dengan alamat di #COMPANY_ADDRESS kota #COMPANY_CITY</p>
<br/>
<p>Demikian permohonan ini kami ajukan untuk dipergunakan sebagaimana mestinya.</p>
<br/><br />
<p align='right'>Pemohon,&nbsp;&nbsp;&nbsp;&nbsp;</p>
<br/><br/><br/>
<p align='right'>#POA_NAME</p>
</div>